<ion-view title='<h3 style="margin-top:6px;font-weight: 500; color: #96c424;">About us</h3>' class="aboutus-view" ng-init="init()">
        <ion-nav-bar class="bar-positive">
            <!--<ion-nav-back-button  class="button-clear"><i class="ion-ios-arrow-back"></i>-->
            <!--</ion-nav-back-button>-->

            <ion-nav-buttons side="left">
               <button class="button button-icon button-clear" ng-click="goBack()">
                  <img class="back-button-img" src="img/back_button.png">
               </button>   
            </ion-nav-buttons>
            
            

              
        </ion-nav-bar>
    <ion-content>
        <div class="image">
            <img src="img/afrisia_mark.png" class="img-mark">
        </div>
        <div class="image">
            <img src="img/logo.png" class="img-logo" >
        </div>
       <div class="text">

                <p>
                    Afrisia is the first step to an alternative way of life.
            <br>
                    A community has more legitimacy than a nation.
            <br>
                    There is a share of culture but also values. In order to make them free, it is essential to identify the community business.
      <br>
      <br>
                    "Funding our community should not be a duty but natural"
        <br>
        <br>
                    Changing the world starts now...
                </p>
            </div>
            <div class="text">
                <p class="text-right" style="color:#96c424;font-weight: bold;">Christian Kamtchueng</p>
                <p class="text-right" style="font-weight: bold;">Afrisia Funder</p>

            </div>
    </ion-content>
</ion-view>