<ion-view title='<h4 style="margin-top:12px;font-weight: 500; color: #96c424;">Add My Institution</h4>' class="myinst-view" hide-nav-bar="false" ng-init="init()">

        <!--<button class="button icon ion-ios-arrow-back subnav-back" ng-click="goBack()"></button>-->

    <ion-nav-bar class="bar-positive">
            <!--<ion-nav-back-button  class="button-clear"><i class="ion-ios-arrow-back"></i>-->
            <!--</ion-nav-back-button>-->

        <ion-nav-buttons side="left">
               <button class="button button-icon button-clear" ng-click="goBack()">
                  <img class="back-button-img" src="img/back_button.png">
               </button>   
        </ion-nav-buttons>
            
         

    </ion-nav-bar>
   
     
    <ion-content style="background-color: #ededed;" >
            <div class="image_container">
        
            <img ng-if="capture1_image" class="item-img" ng-src="{{capture1_image}}">
            
            <div ng-if="!capture1_image" class="item-img">
                
                <img  style="margin-top: 20px;" src="img/picture-camera.png" ng-click="editAvatar()"">
                        
                <h3 style="color:#ffffff; margin-top:0px;">Add Picture</h3>
           </div>
           
           <div>
                <div style="float: left;">
                    <img class="circle-mark">
                </div>
                <div class="project-number">
                    <p></p>
                </div>
                <div class="rate-number">
                    <p>-
                    </p>
                </div>
                <div class="total">
                    <p>/5
                    </p>
                </div>
                <div class="comment-number">
                    <p>0</p>
                </div>
                <div class="comment">
                    <p>comments</p>
                </div>
                <div class="divider">
                    <p>|</p>
                </div>
                <div class="comment-click">
                    <p>Leave comments</p>
                </div>
           </div>
   
      
     
         </div>
     
         <div class="edit-container">
            <div class="list">
                 <button ng-click="add_business()" class="item button-block button-clear button-assertive" style="height:45px;text_align:center;padding-top:0px;margin-top:10px;background-color:#96c424;color:#ffffff;">
                    Add
                </button>
     
                <label class="item item-input">
                    <input ng-model="business.business_name" type="text" placeholder="Business Name">
                </label>
                <div class="select">
                    <span class="arr"></span>
                    <select ng-model="business.business_type1"  style="padding-left: 17px;" ng-options="type.business_type for type in business.typeList">
           
                        <option value="">Business Type</option>
                    </select>
                </div>
                <label class="item item-input">
                    <input ng-model="business.business_site" type="text" placeholder="Web Site">
                </label>
                 <label class="item item-input">
                    <input ng-model="business.business_city" id="city" type="text" placeholder="City" ng-click="initialize1()">
                </label>
                <label class="item item-input">
		
            	    <input id="address" ng-model="business.business_address" ng-click="initialize()" type="text" value="" placeholder="Address">
                </label>
 
                <!--<label class="item item-input">
                    <input ng-model="business.business_address" type="text" placeholder="Address">
                </label>-->
                <label class="item item-input">
                    <textarea class="area" ng-model="business.business_description"  placeholder="Description"></textarea>
                </label>
   
                
           
            </div>
     
             
        </div>

    </ion-content>
</ion-view>