<ion-view class="addopinion-view" title='<h3 style="margin-top:4px;font-weight: 400; color: #96c424;">Add Comment</h3>' ng-init="init()">
       <ion-nav-bar class="bar-positive">
            <!--<ion-nav-back-button  class="button-clear"><i class="ion-ios-arrow-back"></i>-->
            <!--</ion-nav-back-button>-->

            <ion-nav-buttons side="left">
               <button class="button button-icon button-clear" ng-click="goBack()">
                  <img class="back-button-img" src="img/back_button.png">
               </button>   
            </ion-nav-buttons>
    <ion-content has-bouncing="true">
   

        <form name="register-form" ng-controller="AddOpinionCtl">
            <div class="list">

     
                <label class="item item-input">
                    <input ng-model="title" type="text" placeholder="Title">
                </label>
                <label class="item item-input">
                    <textarea class="area" ng-model="content"  placeholder="Comment"></textarea>
                </label>
                <!--<div ng-repeat="label in labels">
                    <input type="text"
                        ng-model="label.value" />
                    <button ng-if="$index == labels.length - 1" 
                            ng-click="addLabel()">+</button>
                    <button ng-if="$index != labels.length - 1"
                            ng-click="removeLabel($index)">-</button>
                    </div>-->
                <div class="row" >
                    <div class="col col-80" style="padding-top: 25px; text-align: left; font-size: 20px; color: #96c424; padding-left: 0px;">
                        Total Rate:
                    </div>

                    <div class="select col">
                        <select ng-model="rate" ng-options="point.id for point in pointList" style="text-align: center; padding-right: 0px; font-size: 26px; color: #96c424;">
                            <option value="">-</option>
                        </select>
                
                    </div>
                        
                </div>
                 <div ng-repeat="label in labels">   
            
                    <div class="row" ng-if="$index<(labels.length - 1)" >
                        <div class="col col-80" ng-click="goLabelChoose($index)" style="padding-top: 25px; text-align: left; font-size: 20px; color: #96c424; padding-left: 0px;">
                           [{{label.name}}]
                        </div>

                        <div class="select col">
                            <select ng-model="label.point" ng-if="label.rate<6" ng-options="point.id for point in pointList" style="text-align: center; padding-right: 0px; font-size: 26px; color: #96c424;">
                                <option value="">-</option>
                            </select>
                            <img class="private-label" ng-src="img/private_label.png" ng-if="label.rate==6"/>
                            <img class="private-label" ng-src="img/secrect.png" ng-if="label.rate==7"/>
                            
                    
                            <!--<select ng-model="label.point" ng-options="point.id for point in pointList" style="text-align: center; padding-right: 0px; font-size: 26px; color: #96c424;" ng-if="(label.point.id>7)||(label.point.id==null)">
                                <option value="">-</option>
                            </select>
                            <select ng-model="label.point" ng-options="point.id for point in pointList" style="text-align: center; padding-right: 0px; font-size: 26px; color: #ff9c00;" ng-if="(label.point.id>4)&&(label.point.id<=7)">
                                <option value="">-</option>
                            </select>
                             <select ng-model="label.point" ng-options="point.id for point in pointList" style="text-align: center; padding-right: 0px; font-size: 26px; color: #ff0000;" ng-if="(label.point.id>0)&&(label.point.id<=4)">
                                <option value="">-</option>
                            </select>-->
                        </div>
                    </div>
                    <label class="item item-input" ng-if="label.point.id<5">
                        
                            <input type="text" placeholder="Title" ng-model="label.title">
                            
                    </label>
                    
                    <label class="item item-input" ng-if="label.point.id<5">
                        <textarea class="area" ng-model="label.content"  placeholder="Description"></textarea>
                    </label>
                    
                
                    
                    <div class="row" ng-if="$index == labels.length - 1" >
                        <label class="item item-input col col-88">
                        
                            <input style="padding-left:10px;" type="text" placeholder="Label Name" ng-model="label.name">
                            
                        </label>
           
                    
                        <img class="plus_button" src="img/plus_button.jpg" ng-click="addLabel()" >
                  
                    </div>   
                    <!--<ion-list  ng-repeat="item in label.labelList | filter: label.name" ng-click="searchLabel(item)">
                        <ion-itme  ng-if="item.label_rate<6">
                                <div class="labelList">
                                    {{item.label_name}}
                                </div>
                        </ion-itme>
                    </ion-list>-->
                   
                 </div>   
                
                
         
                   
                 <div class="row" style="margin-top: 20px;">
                    <div class="col" style="text-align: center;">
                            <img class="shareImg" ng-src="img/facebook_label.png" ng-click="shareFacebook()"/>
                    </div>
                    <div class="col" style="text-align: center;">
                        <img class="shareImg" ng-src="img/twitter_label.png" ng-click="shareTwitter()"/>
                    </div>
                    <div class="col" style="text-align: center;">
                        <img class="shareImg" ng-src="img/linkedin_label.png" ng-click="shareLinkedin()"/>
                    </div>                   
                 </div>     
                 <button class="button button-block add-btn" ng-click="addComment()">Add Comment</button>
            </div>
  
          
            
             
        </form>
        
    </ion-content>
</ion-view>