<ion-view title='<h4 style="margin-top:12px;font-weight: 500; color: #96c424;">{{active_business.business_name}}</h3>' class="comment-view leavecomment-view" hide-nav-bar="false" ng-init="init()">

        <!--<button class="button icon ion-ios-arrow-back subnav-back" ng-click="goBack()"></button>-->

    <ion-nav-bar class="bar-positive">
            <!--<ion-nav-back-button  class="button-clear"><i class="ion-ios-arrow-back"></i>-->
            <!--</ion-nav-back-button>-->

        <ion-nav-buttons side="left">
               <button class="button button-icon button-clear" ng-click="goBack()">
                  <img class="back-button-img" src="img/back_button.png">
               </button>   
        </ion-nav-buttons>
            
         

        <ion-nav-buttons side="right">
      
            <button class="button button-icon button-clear" ng-click="goSingleMap()">
               <img style="margin-left: 10px; width: 20px; height: 22px;margin-top: 5px;" src="img/icon-map.png" >
            </button>
        </ion-nav-buttons>
              
    </ion-nav-bar>
   
     
    <ion-content style="background-color: #ededed;">
        
         <div class="slide-container">
            <img class="item-img" ng-src="{{active_business.business_photo_url}}">
            <div class="overlay_theme">
                
                <div class="row">
                    <div class="col col-50">
                    <div class="type-name">
                        [{{active_business.business_type}}]
                    </div>
                    
                
                    </div>
                    <div class="col">
                        
                       
                        <img class="favorit-mark" src="img/favorit-mark.png">
                    </div>
                </div>
                 <div style="margin-left: 5px; margin-top: -9px;" ng-repeat="label in active_business.label_detail" >
                    <div class="label-name_green" ng-if="(label.avg_rate>3)&&(label.avg_rate<6)&&($index<3)" ng-click="goLabelComment(label)">
                       [{{label.label_name}}] 
                    </div>
                    <div class="label-name_orange" ng-if="(label.avg_rate>1)&&(label.avg_rate<=3)&&($index<3)" ng-click="goLabelComment(label)">
                       [{{label.label_name}}] 
                    </div>
                    <div class="label-name_red" ng-if="(label.avg_rate<=1)&&($index<3)" ng-click="goLabelComment(label)">
                       [{{label.label_name}}] 
                    </div>
                    <div class="label-name_green" ng-if="(label.avg_rate>3)&&($index==3)">
                       [...] 
                    </div><div class="label-name_orange" ng-if="(label.avg_rate>1)&&(label.avg_rate<=3)&&($index==3)">
                       [...] 
                    </div>
                    <div class="label-name_red" ng-if="(label.avg_rate<=1)&&($index==3)">
                       [...] 
                    </div>
               
                 </div>
            </div>
            <div>
                <div style="float: left;">
                    <img class="circle-mark" >
                </div>
                <div class="project-number" style="margin-left: -45px; margin-top: 18px;" ng-if="(active_business.business_rate_score!=0)&&(active_business.business_rate_score!=1)&&(active_business.business_rate_score!=2)&&(active_business.business_rate_score!=3)&&(active_business.business_rate_score!=4)&&(active_business.business_rate_score!=5)">
                    <p>{{active_business.business_rate_score}}</p>
                </div>
                <div class="project-number" style="margin-left: -40px; margin-top: 18px;" ng-if="(active_business.business_rate_score==0)">
                    <p>-</p>
                </div>
                <div class="project-number" style="margin-left: -35px; margin-top: 18px;" ng-if="(active_business.business_rate_score==1)||(active_business.business_rate_score==2)||(active_business.business_rate_score==3)||(active_business.business_rate_score==4)||(active_business.business_rate_score==5)">
                    <p>{{active_business.business_rate_score}}</p>
                </div>
                <!--<div class="rate-number" style="margin-left: -35px; margin-top: 20px;">
                    <p>,{{active_business.business_rate_num}}
                    </p>
                </div>-->
                <div class="total" style="margin-left: -18px; margin-top: 22px;">
                    <p>/5
                    </p>
                </div>
                <div class="comment-number">
                    <p>{{active_business.business_comment.length}}</p>
                </div>
                <div class="comment">
                    <p>comments</p>
                </div>
                <div class="divider">
                    <p>|</p>
                </div>
                <div class="comment-click" ng-click="goAddOpinion()">
                    <p>Leave comments</p>
                </div>
             </div>
   
      
     
         </div>
         <div class="text-box">
             <div class="title">
                 {{active_business.business_site}}
             </div>
             <div class="text" style="line-height: 20px;">
                <p><strong>{{active_business.business_name}}</strong>
                    {{active_business.business_description}}
                    
                </p>           
             </div>
             <div class="label-votes"  >
                <div class="row" ng-repeat="label in active_business.label_detail">
                    <div class="col col-75">
                        <div class="vote-name" ng-if="label.avg_rate==6">
                            [...]
                        </div>
                        <div class="vote-name" ng-click="goLabelComment(label)" ng-if="(label.avg_rate>3)&&(label.avg_rate<6)">
                            [{{label.label_name}}]
                        </div>
                        <div class="vote-name_orange" ng-click="goLabelComment(label)" ng-if="(label.avg_rate>1)&&(label.avg_rate<=3)">
                            [{{label.label_name}}]
                        </div><div class="vote-name_red" ng-click="goLabelComment(label)" ng-if="label.avg_rate<=1">
                            [{{label.label_name}}]
                        </div>
                        <div class="vote-num " ng-if="label.vote_num>1" >
                            - {{label.vote_num}} votes 
                        </div>
                        <div class="vote-num " ng-if="(label.vote_num<2)&&(label.avg_rate<7)">
                            - {{label.vote_num}} vote 
                        </div>
                    </div>
                    <div class="col" ng-if="label.avg_rate<6">
                        <div class="r_num_green" ng-if="label.avg_rate>3">
                            {{label.avg_rate}}
                        </div>
                        <div class="r_num_orange" ng-if="(label.avg_rate>1)&&(label.avg_rate<=3)">
                            {{label.avg_rate}}
                        </div>
                        <div class="r_num_red" ng-if="label.avg_rate<=1">
                            {{label.avg_rate}}
                        </div>
                        <div class="t_num">
                            /5
                        </div>             
                    </div>
                    <div class="col" ng-if="label.avg_rate==6">
                        <img class="private-label" ng-src="img/private_label.png"/>
                    </div>
                              
                </div>
               
             </div>
            
            
         </div>
         <div class="share-box">
             <div class="share-label">
                 SHARE
             </div>
             <img style="margin-top: 0px; padding-bottom: 10px; margin-left: 10px; width: 15px; padding-top:0px;" ng-src="img/forward-arrow.png"/>
             <img style="margin-top: 15px; margin-left: 10px; width: 45px;" ng-src="img/facebook.png" ng-click="shareFacebook()"/>
             <img style="margin-top: 15px; margin-left: 10px; width: 45px; " ng-src="img/twitter.png" ng-click="shareTwitter()"/>
             <img style="margin-top: 15px; margin-left: 10px; width: 45px;" ng-src="img/linkedin.png" ng-click="shareLinkedin()"/>
         </div>
          <div class="button-container">
            <form>             
                <button  class="button button-block button-assertive" ng-click="goAddOpinion()">
                    Leave Comment
                </button>
                <div class="labels">- Most Recent Views -</div>
            </form>
        </div>
        <div class="comment-container" ng-repeat="item in active_business.business_comment">
            <div class="text-box">

                <div class="row">
                
                    <div class="col col-75">
                        <div class="photo-container">
                            <div class="photo-circle1">
                                <div class="photo-circle2">
                                    <img class="img1" ng-src="{{item.user_photo_url}}"">
                                </div>
                            </div>
                        </div>
                        <div class="person-name">
                        <strong>{{item.user_name}}</strong>
                            <div class="date">
                        
                                <p>{{item.comment_date}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="circle-mark_green" ng-if="item.comment_rate_score>3">
                            <div class="comment-rate">
                               {{item.comment_rate_score}}
                            </div>
                            <!--<div class="rate-number1">
                                ,{{item.comment_rate_num}}
                            </div>-->
                            <div class="total1">
                                /5
                            </div> 
                        </div>
                        <div class="circle-mark_orange" ng-if="(item.comment_rate_score<4)&&(item.comment_rate_score>1)">
                            <div class="comment-rate">
                               {{item.comment_rate_score}}
                            </div>
                            <!--<div class="rate-number1">
                                ,{{item.comment_rate_num}}
                            </div>-->
                            <div class="total1">
                                /5
                            </div> 
                        </div>
                        <div class="circle-mark_red" ng-if="item.comment_rate_score<2">
                            <div class="comment-rate">
                               {{item.comment_rate_score}}
                            </div>
                            <!--<div class="rate-number1">
                                ,{{item.comment_rate_num}}
                            </div>-->
                            <div class="total1">
                                /5
                            </div> 
                        </div>
                        
                                  
                    </div>
                </div>
                 <div class="row">
                    <div class="title">
                        <p>{{item.comment_title}}</p>
                    </div>
                </div>
          
                <div class="row">
                    <div class="text">
                        <p>{{item.comment_content}}</p>
                    </div>
                </div>
                <div ng-repeat="label in item.comment_label">
                     <div class="label_green" ng-if="label.label_rate==6">
                        [...]
                     </div>
                    <div class="label_green" ng-click="goLabelComment(label)" ng-if="(label.label_rate>3)&&(label.label_rate<6)">
                        [{{label.label_name}}]
                    </div>


                    <div class="label_orange"  ng-click="goLabelComment(label)" ng-if="(label.label_rate>1)&&(label.label_rate<=3)">
                        [{{label.label_name}}]
                     
                    </div>
                    <div class="label_red"  ng-click="goLabelComment(label)" ng-if="label.label_rate<=1">
                        [{{label.label_name}}]
                     
                    </div>
                 
            
                </div>
                 <div class="row">
                    <div class="vote-plus">
                        ...Vote+
                    </div>
                </div>
            </div>
           
        </div>

    </ion-content>
</ion-view>