<div class="modal modal-view">
    <ion-header-bar>
        <div class="row">
            <div style="text-align: center;" class="col col-90">
                <h3>Select Label kind.</h3>
            </div>
            <div class="col text-center">
                <span class="icon ion-close d2" ng-click="closeModal()"></span>
            </div>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <ion-radio ng-repeat="item in labelList"
                       ng-value="item.value"
                       ng-click="labelChange(item)">
                       {{item.text}}
            </ion-radio>
        </div>
    </ion-content>
</div>
