<ion-view title='<h3 style="margin-top:4px;font-weight: 500; color: #96c424;">Get Password</h3>' class="welcome-view"  ng-init="init()">
  <ion-nav-bar class="bar-positive">
            <!--<ion-nav-back-button  class="button-clear"><i class="ion-ios-arrow-back"></i>-->
            <!--</ion-nav-back-button>-->

            <ion-nav-buttons side="left">
               <button class="button button-icon button-clear" ng-click="goToLogin()">
                  <img class="back-button-img" src="img/back_button.png">
               </button>   
            </ion-nav-buttons>
            
            

              
        </ion-nav-bar>
    <ion-content>

        <div class="welcome-txt">
            <p>To retrieve your password, please enter your email address below</p>
        </div>
        <div class="login-inputs">
            <form name="forgot-pwd">
                <label class="item item-input">
                    <input type="email" placeholder="ENTER YOUR EMAIL ADDRESS" ng-model="forgot_data.user_email">
                </label>
                <button type="submit" class="button button-block button-assertive guestlogin-btn" ng-click="forgot()">
                    SEND RESET LINK
                </button>
            </form>

        </div>
    </ion-content>
</ion-view>
