<ion-view title='<h4 style="margin-top:12px;font-weight: 500; color: #96c424;">{{active_label.label}}</h4>' class="labelcomment-view" hide-nav-bar="false" ng-init="init()">

        <!--<button class="button icon ion-ios-arrow-back subnav-back" ng-click="goBack()"></button>-->

    <ion-nav-bar class="bar-positive">
            <!--<ion-nav-back-button  class="button-clear"><i class="ion-ios-arrow-back"></i>-->
            <!--</ion-nav-back-button>-->

        <ion-nav-buttons side="left">
               <button class="button button-icon button-clear" ng-click="goBack()">
                  <img class="back-button-img" src="img/back_button.png">
               </button>   
        </ion-nav-buttons>

            
            
<!--
        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear" ng-click="goSingleMap()" >
               <img style="margin-left: 10px; width: 20px; height: 22px;margin-top: 5px;" src="img/icon-map.png" ng-init="init()" >
            </button>
        </ion-nav-buttons>
              -->
    </ion-nav-bar>

     
     <ion-content ng-controller="LabelCommentCtl" style=" background-color: #ededed;" >

         <!--<ion-refresher on-refresh="doRefresh()">
         </ion-refresher>-->
               
   
        <div class="labels">- The lastest Opinions on the Label : [{{active_label.label}}] -</div>
         
        <div class="comment-container" ng-repeat="item in labelComment">
            <div class="text-box">

                <div class="row">
                
                    <div class="col col-75">
                        <div class="photo-container">
                            <div class="photo-circle1">
                                <div class="photo-circle2">
                                    <img class="img1" ng-src="{{item.user_photo_url}}">
                                </div>
                            </div>
                        </div>
                        <div class="person-name">
                        <strong>{{item.user_name}}</strong>
                            <div class="date">
                        
                                <p>{{item.label_date}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="circle-mark_green" style="float:left;" ng-if="item.label_rate>3">
                           <div class="rate-number">
                              {{item.label_rate}}
                             <!--{{item.comment_rate_score}}-->
                           </div>
                            <div class="total">
                                /5
                            </div> 
                        </div>
                        <div class="circle-mark_orange" style="float:left;"  ng-if="(item.label_rate<=3)&& (item.label_rate>1)">
                           <div class="rate-number">
                               {{item.label_rate}}
                            <!--{{item.comment_rate_score}}-->
                            </div>
                            <div class="total">
                                /5
                            </div> 
                        </div>
                        <div class="circle-mark_red" style="float:left;"  ng-if="item.label_rate<=1">
                           <div class="rate-number">
                                 {{item.label_rate}}
                            <!--{{item.comment_rate_score}}-->
                            </div>
                            <div class="total">
                                /5
                            </div> 
                        </div>
                        
                 
                                            
                    </div>
                </div>
                <div class="row">
                    <div class="title">
                        {{item.label_title}}
                    </div>
                </div>
          
                <div class="row">
                    <div class="text">
                        <p>{{item.label_content}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="shareText">
                        SHARE ON:
                    </div>
                    <img class="shareImg" ng-src="img/facebook_label.png" ng-click="shareFacebook(item)"/>
                    <img class="shareImg" ng-src="img/twitter_label.png" ng-click="shareTwitter(item)"/>
                    <img class="shareImg" ng-src="img/linkedin_label.png" ng-click="shareLinkedin(item)"/>
                </div>
            </div>
           
        </div>
       
     </ion-content>
</ion-view>