<div class="modal modal-view resort-view">
    <ion-header-bar>
        <div class="row">
            <div style="text-align: center; font-size: 20px;margin-left: 10px;"  class="col col-90">
                Search Label
            </div>
            <div class="col text-center">
                <span class="icon ion-close d2" ng-click="closeModal()"></span>
            </div>
        </div>
    </ion-header-bar>


    <ion-content>
        <div class="label-header">
              <div class="item-input-inset">
                
                    <label class="item-input-wrapper">
                    
                    <input ng-model="ll.active_search_s" type="search" placeholder="Label...">
                    
            
                    </label>
                    <button class="button-clear search_button"  ng-click="closeMyModal()">
                        <img class="search_icon" src="img/search_icon.png">
                    </button>

               </div>
        </div>
        <ion-list ng-repeat="item in labelList | filter: ll.active_search_s" ng-click="searchLabel(item)">
            <ion-itme  ng-if="item.label_rate<6">
                      <div class="labelList">
                           {{item.label_name}}
                      </div>
            </ion-itme>
        </ion-list>
    </ion-content>
</div>
