<ion-view title='<h3 style="margin-top:4px;font-weight: 500; color: #96c424;">Log in</h3>' class="welcome-view"  ng-init="init()">
       <ion-nav-bar class="bar-positive">
            <!--<ion-nav-back-button  class="button-clear"><i class="ion-ios-arrow-back"></i>-->
            <!--</ion-nav-back-button>-->

            <ion-nav-buttons side="right">
               <button class="button button-icon button-clear" ng-click="goToHome()">
                  <img class="back-button-img" src="img/multiple_button.png">
               </button>   
            </ion-nav-buttons>
            
            

              
        </ion-nav-bar>
    
    <ion-content has-bouncing="true">
         <div class="image">
            <img src="img/afrisia_mark.png" class="img-mark">
        </div>
        <div class="image">
            <img src="img/logo.png" class="img-logo" >
        </div>

        <div class="login-inputs">
            <form name="login">
                <label class="item item-input">
                    <input type="email" placeholder="ENTER YOUR EMAIL ADDRESS" ng-model="login_data.user_email">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="PASSWORD" ng-model="login_data.user_password">
                </label>
                
                <div class="forgot" ng-click="goToForgot()">Forgot Password</div>
                <button class="button button-block button-assertive" ng-click="loginByEmail()">
                    LOGIN
                </button>
           
   
                <!--<button class="button button-block button-positive icon-left ion-social-facebook fblogin-btn" ng-click="fbLogin()">
                    Login with Facebook
                </button>-->

            </form>
        </div>
    </ion-content>
</ion-view>
