<ion-view class="mycomment-view" title='<h3 style="margin-top:4px;font-weight: 500; color: #96c424;">My Comment</h3>' ng-init="init()">
    <ion-nav-bar class="bar-positive">
        <!--<ion-nav-back-button  class="button-clear"><i class="ion-ios-arrow-back"></i>-->
        <!--</ion-nav-back-button>-->

        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear" ng-click="goBack()">
                <img class="back-button-img" src="img/back_button.png">
            </button>   
        </ion-nav-buttons>
    </ion-nav-bar>
    
    <ion-content  has-bouncing="true" style="padding-top:80px;" >
      <ion-list

         show-reorder="data.showReorder">
         <ion-item ng-repeat="item in items" class=" item-text-wrap" ng-href="#" ng-click="goComment(item)" >
                               <!---->

 <!---->
             <img class="item-img" src="{{item.business_photo_url}}">
             <div class="overlay_theme">
                                                <!---->
                  <div class="comment-container" >
            <div class="text-box">

                <div class="row">
                
                    <div class="col col-75">
                        <div class="photo-container">
                            <div class="photo-circle1">
                                <div class="photo-circle2">
                                    <img class="img1" ng-src="{{user_photo}}">
                                </div>
                            </div>
                        </div>
                        <div class="person-name">
                            <div class="name">
                        
                                {{user_name}}
                            </div>
                        
                            <div class="date">
                        
                                {{item.comment_date}}
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="circle-mark" style="float:left;">
                           <div class="project-number">
                              {{item.comment_rate_score}}
                           </div>
                           <div class="rate-number">
                              ,{{item.comment_rate_num}}
                           </div>
                           <div class="total">
                              /5
                           </div>                  
                        </div>
                        
                           
                    </div>
                </div>
          
                <div class="row">
             
                    
                    <div class="text">
                        <p class="title">{{item.comment_title}}</p>
                        
                        <p>{{item.comment_content}}</p>
                   
                    </div>
              
                </div>
                <div class="row">
                     <div class="vote">
                         
                        <!--<p>...Vote+-->
                    </div>
                </div>
            </div>
<!---->
            <div class="row">
                   <div class="business-name">
                       {{item.business_name}}
                   </div>
                  
                   <!--<img class="order-check" src="img/leaf.png">-->
            </div>
            <div class="row">
                   <div class="col col-25">
                   <div class="type-name">
                       [{{item.business_type}}]
                   </div>
                  
               
                 </div>
                 <div class="col ">
                     
                     <div class="country-name">
                       {{item.business_city}}
                     </div>
                     <img class="map-icon" src="img/map_direct.png">
                 </div>
            </div>
            <div style="margin-left: 5px; margin-top: -6px;" ng-repeat="label in item.label_detail" >
                <div class="label-name_green" ng-if="label.avg_rate>3">
                    [{{label.label_name}}] 
                </div>
                <div class="label-name_orange" ng-if="(label.avg_rate>1)&&(label.avg_rate<=3)">
                    [{{label.label_name}}] 
                </div>
                <div class="label-name_red" ng-if="label.avg_rate<=1">
                    [{{label.label_name}}] 
                </div>
            
            </div>
             
             
           <!---->
       
            <!---->
            
        </div>
             
   
     
         </ion-item>
       </ion-list>
   
           

    </ion-content>
</ion-view>