<ion-view class="resort-view" title='<h3 style="margin-top:4px;font-weight: 500; color: #96c424;">My Business</h3>' ng-init="init()">
    <ion-nav-bar class="bar-positive">
        <!--<ion-nav-back-button  class="button-clear"><i class="ion-ios-arrow-back"></i>-->
        <!--</ion-nav-back-button>-->

        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear" ng-click="goBack()">
                <img class="back-button-img" src="img/back_button.png">
            </button>   
        </ion-nav-buttons>
    </ion-nav-bar>
    <div class="bar bar-subheader row">
        <div class="col">
            <button class="button button-block button-assertive1" ng-click="goEdit_Install()">Add</button>
        </div>  
    </div>
    <ion-content  has-bouncing="true" style="padding-top: 90px;">
      <ion-list

         show-reorder="data.showReorder">
         <ion-item ng-repeat="item in items" class=" item-text-wrap" ng-href="#" ng-click="goComment(item)">
 
                        <img class="item-img" ng-src="{{item.business_photo_url}}">
             <div class="overlay_theme">
    
                <div class="rate-container">
                    <div class="favorit-container">
                        <img ng-if="!item.favor_status" class="favorit-mark" ng-src="img/unfavorit.png" ng-click="goLeaveComment()">
                        <img ng-if="item.favor_status" class="favorit-mark" ng-src="img/favorit.png" ng-click="goLeaveComment()">
                    </div>
                    <div class="circle-mark">
                        <div class="project-number">
                            {{item.business_rate_score}}
                        </div>
                        <div class="rate-number">
                            ,{{item.business_rate_num}}
                        </div>
                        <div class="total">
                            /5
                        </div>   
                    </div> 
            
                </div>
               <div class="row">
                   <div class="business-name">
                       {{item.business_name}}
                   </div>
                  
                   <!--<img class="order-check" src="img/leaf.png">-->
               </div>
               <div class="row">
                   <div class="col col-25">
                   <div class="type-name">
                        [{{item.business_type}}]
                   </div>
                  
               
                 </div>
                 <div class="col ">
                     
                     <div class="country-name">
                       {{item.business_city}}
                     </div>
                     <img class="map-icon" src="img/map_direct.png">
                 </div>
               </div>
              <div style="margin-left: 5px; margin-top: -6px;" ng-repeat="label in item.label_detail" >
                    <div class="label-name_green" ng-if="label.avg_rate>3">
                       [{{label.label_name}}] 
                    </div>
                    <div class="label-name_orange" ng-if="(label.avg_rate>1)&&(label.avg_rate<=3)">
                       [{{label.label_name}}] 
                    </div>
                    <div class="label-name_red" ng-if="label.avg_rate<=1">
                       [{{label.label_name}}] 
                    </div>
               
               </div>
             </div>
   
     
         </ion-item>
       </ion-list>
          <div style="height: 90px; width: 100%;">
           </div>
   
           

    </ion-content>
</ion-view>