<ion-view class="profile-view" title='<h3 style="margin-top:4px;font-weight: 500; color: #96c424;">Profile Update</h3>' ng-init="init()">
    <ion-nav-bar class="bar-positive">
            <!--<ion-nav-back-button  class="button-clear"><i class="ion-ios-arrow-back"></i>-->
            <!--</ion-nav-back-button>-->

            <ion-nav-buttons side="right">
               <button class="button button-icon button-clear" ng-click="goToHome()">
                  <img class="back-button-img" src="img/multiple_button.png">
               </button>   
            </ion-nav-buttons>
            
            

              
        </ion-nav-bar>
    <ion-content>
        <div class="content-container">
            
            <div class="profile-container">
                <div class="pic-circle">
                    <div ng-if="loggedin" class="profile-pic">                            
                        <img ng-if="user.capture1_image" class="upload-result-img" ng-src="{{user.capture1_image}}">
                        <img ng-if="!user.capture1_image" ng-src="{{user.user_photo_url}}" class="upload-result-img">
                        <div style="margin-top: -40px;margin-left: 50px;" >
                           <img ng-src="img/camera.png" style="width: 30px; height: 30px;" ng-click="editAvatar()"/>
                        </div>  
                    </div>  
                    
                </div>           
            </div>
      

            <div class="title">Name</div>
            <label class="item item-input">
                    <input ng-model="user.user_name" type="text" placeholder="Your Full Name">
            </label>
            <div class="title">Email</div>
            <label class="item item-input">
                    <input ng-model="user.user_email" type="email" placeholder="Your Email">
            </label>
            <div class="title">Password</div>
            <label class="item item-input">
                    <input ng-model="user.user_pass" type="password" placeholder="Password">
            </label>
            <div class="title">Confirm Password</div>
            <label class="item item-input">
                    <input ng-model="user.user_confirm" type="password" placeholder="Confirm Password">
            </label>
            <button class="button button-block button-assertive" style="margin-top: 30px;" ng-click="update()">
                    Update Profile
            </button>
        
            <div class="row" style="margin-top: 20px;">
                <div class="col" style="text-align: center;">
                        <img class="shareImg" ng-src="img/facebook_label.png" ng-click="shareFacebook()"/>
                </div>
                <div class="col" style="text-align: center;">
                    <img class="shareImg" ng-src="img/twitter_label.png" ng-click="shareTwitter()"/>
                </div>
                <div class="col" style="text-align: center;">
                    <img class="shareImg" ng-src="img/linkedin_label.png" ng-click="shareLinkedin()"/>
                </div>                   
            </div>
        
        </div>
    
    </ion-content>

</ion-view>
