<ion-view class="register-view" title='<h3 style="margin-top:4px;font-weight: 500; color: #96c424;">Sign Up</h3>'   ng-init="init()">
  <ion-nav-bar class="bar-positive">
            <!--<ion-nav-back-button  class="button-clear"><i class="ion-ios-arrow-back"></i>-->
            <!--</ion-nav-back-button>-->

            <ion-nav-buttons side="right">
               <button class="button button-icon button-clear" ng-click="goToHome()">
                  <img class="back-button-img" src="img/multiple_button.png">
               </button>   
            </ion-nav-buttons>
            
            

              
        </ion-nav-bar>
    <ion-content has-bouncing="true"> 
    
        <form name="register-form">
  
      
            <div class="row">
                <button class="button button-block icon-left ion-social-facebook fblogin-btn" ng-click="fbLogin()">
                    Login with Facebook
                </button>
            </div>
            <div class="row" style="border-top: 1px solid #c1c1c1; text-align: center; color: #b1b1b1; margin: 10px auto; padding-top: 10px;padding-left: 27%;">
               -  Ou via ce formulaire -
            </div>
            <div class="list">
         
                <label class="item item-input">
                    <input ng-model="register_data.user_name" type="text" placeholder="Full Name">
                </label>
                <label class="item item-input">
                    <input ng-model="register_data.user_email" type="email" placeholder="Email">
                </label>
  
                <label class="item item-input">
                    <input ng-model="register_data.user_password" type="password" placeholder="Password">
                </label>
                <label class="item item-input">
                    <input ng-model="register_data.confirm_password" type="password" placeholder="Confirm Password">
                </label>
                <div class="row">
                   <label class="item item-input col col-75">
                   
                      <input  ng-model="register_data.user_search_text1"  style="padding-right:30px;" type="text" placeholder="Label1">
                       
                   </label>
               
                   <img class="plus_button" src="img/secrect.png" ng-click="addSearch()" >
                  
                 </div> 
                 <div class="row">
                   <label class="item item-input col col-75">
                   
                      <input  ng-model="register_data.user_search_text2"  style="padding-right:30px;" type="text" placeholder="Label2">
                       
                   </label>
               
                   <img class="plus_button" src="img/public.png" ng-click="addSearch()" >
                  
                 </div>      
 
                <label class="item item-input">
                    <input ng-model="register_data.user_favor_color" type="text" placeholder="Favorit Color">
                </label>
        
            </div>
            <!--<div class="row upload-avatar-row">
                <div class="col ">
                    <button type="button" class="button button-block button-assertive upload-btn" ng-click="uploadAvatar()">Upload Photo</button>
                </div>
                <div class="col">
                    <img ng-if="capture_image" class="upload-result-img" ng-src="{{capture_image}}">
                    <img ng-if="!capture_image" src="img/profile-pic-default.png" class="upload-result-img">
                </div>
            </div>
            -->
            <div class="row">
                <div class="col">
                    <button class="button button-block button-assertive regsiter-btn" ng-click="register()">REGISTER</button>
                </div>
            </div>
          
        </form>
    </ion-content>
</ion-view>