<ion-view class="research-view" title='<h3 style="margin-top:7px;font-weight: 400; color: #96c424;">Advance Search</h3>' ng-init="init()">
       <ion-nav-bar class="bar-positive">
            <!--<ion-nav-back-button  class="button-clear"><i class="ion-ios-arrow-back"></i>-->
            <!--</ion-nav-back-button>-->

            <ion-nav-buttons side="left">
               <button class="button button-icon button-clear" ng-click="goBack()" nav-direction="back">
                  <img class="back-button-img" src="img/back_button.png">
               </button>   
            </ion-nav-buttons>
    <ion-content has-bouncing="true">
   
        <div class="welcome-txt">
            <p><span>- Refine your search -</span></p>
        </div>
        <form name="register-form">
            <div class="list">
     
                <label class="item item-input">
                    <input ng-model="label.business_name" type="text" placeholder="Business Name">
                </label>
                
                
                <!--<label class="item item-input">
                    <input ng-model="label.business_type" type="text" placeholder="Business Type">
                </label>-->
                
                <div class="select">
                    <span class="arr"></span>
                    <select ng-model="label.business_type1" ng-options="type.business_type for type in label.typeList">
                   
                        <option value=""></option>
                    </select>
                </div>
          
       
                <!--<label class="item item-input">
                    <input ng-model="label.business_address" type="text" placeholder="Location">
                </label>-->
                <label class="item item-input">
		
            	    <input id="inputAddressBar" ng-model="label.business_location" ng-click="initialize()" type="text" value="" placeholder="Location">
                </label>
                 <div>
                    <label class="item item-input">
                        <input ng-model="label.search_text0" type="text" placeholder="Label" ng-change="flag0Change()">
                    </label>
                    <ion-list ng-if="(label.search_text0.length)&&(label.flag0==0)" ng-repeat="item in label.labelList | filter: label.search_text0" ng-click="searchLabel0(item)">
                        <ion-itme  ng-if="item.label_rate<6">
                                <div class="labelList">
                                    {{item.label_name}}
                                </div>
                        </ion-itme>
                    </ion-list>
                 </div>
                 <div ng-if="label.num>0">
                    <label class="item item-input">
                        <input ng-model="label.search_text1" type="text" placeholder="Label" ng-change="flag1Change()">
                    </label>
                    <ion-list ng-if="(label.search_text1.length)&&(label.flag1==0)" ng-repeat="item in label.labelList | filter: label.search_text1" ng-click="searchLabel1(item)">
                        <ion-itme  ng-if="item.label_rate<6">
                                <div class="labelList">
                                    {{item.label_name}}
                                </div>
                        </ion-itme>
                    </ion-list>
                 </div>
                 <div ng-if="label.num>1">
                    <label class="item item-input">
                        <input ng-model="label.search_text2" type="text" placeholder="Label" ng-change="flag2Change()">
                    </label>
                    <ion-list ng-if="(label.search_text2.length)&&(label.flag2==0)" ng-repeat="item in label.labelList | filter: label.search_text2" ng-click="searchLabel2(item)">
                        <ion-itme  ng-if="item.label_rate<6">
                                <div class="labelList">
                                    {{item.label_name}}
                                </div>
                        </ion-itme>
                    </ion-list>
                 </div>
                 <div ng-if="label.num>2">
                    <label class="item item-input">
                        <input ng-model="label.search_text3" type="text" placeholder="Label" ng-change="flag3Change()">
                    </label>
                    <ion-list ng-if="(label.search_text3.length)&&(label.flag3==0)" ng-repeat="item in label.labelList | filter: label.search_text3" ng-click="searchLabel3(item)">
                        <ion-itme  ng-if="item.label_rate<6">
                                <div class="labelList">
                                    {{item.label_name}}
                                </div>
                        </ion-itme>
                    </ion-list>
                 </div>
                 <div ng-if="label.num>3">
                    <label class="item item-input">
                        <input ng-model="label.search_text4" type="text" placeholder="Label" ng-change="flag4Change()">
                    </label>
                    <ion-list ng-if="(label.search_text4.length)&&(label.flag4==0)" ng-repeat="item in label.labelList | filter: label.search_text4" ng-click="searchLabel4(item)">
                        <ion-itme  ng-if="item.label_rate<6">
                                <div class="labelList">
                                    {{item.label_name}}
                                </div>
                        </ion-itme>
                    </ion-list>
                 </div>
                
            
            
       
         
                 <div class="row">
                   <label class="item item-input col col-88">
                   
                      <input  ng-model="label.search_text"  style="padding-left:10px;" type="text" placeholder="Label">
                       
                   </label>
               
                   <img class="plus_button" src="img/plus_button.jpg" ng-click="addSearch()" >
                  
                 </div>       
            </div>
          
              <button class="button button-block research-btn" ng-click="goSearchResult()">Search</button>
             
        </form>
    </ion-content>
</ion-view>