<ion-view title='<h2 style="margin-top:4px;font-weight: 700;">AFRISIA</h2>' class="resort-view"" hide-nav-bar="false" ng-init="init()">

        <!--<button class="button icon ion-ios-arrow-back subnav-back" ng-click="goBack()"></button>-->

    <ion-nav-bar class="bar-positive" >
       <ion-nav-buttons side="left">
           <button class="button button-icon button-clear" ng-click="showMenu()">
               <img style="margin-left: 10px; width: 35px; height: 35px;" src="img/nav-user.png">
           </button>   
        </ion-nav-buttons>
            
            

        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear" ng-click="showRightMenu()" >
               <img style="margin-left: 10px; width: 35px; height: 35px;" src="img/about.png" >
            </button>
        </ion-nav-buttons>
       
    </ion-nav-bar>    
     <div class="bar bar-subheader "  pulling-text="Refresh..." 
               on-refresh="doRefresh()" >
  
               <div class="title">- Effectuer une recherche </div>
           
               <div class="item-input-inset">
                
                    <label class="item-input-wrapper">
                    
                    <input ng-model="active_search" type="search" placeholder="Nom, Ville, Label...">
                    
            
                    </label>
                    <button class="button-clear search_button"  ng-click="researchList()">
                        <img class="search_icon" src="img/search_icon.png">
                    </button>
                    <button class="button-clear" ng-click="goResearch()">
                        <img class="plus_button" src="img/plus_button.jpg">
                    </button>
               </div>
                <button class="label_btn button-block button-clear"  ng-click="goLabelChoose() ">
                       <div style="float: left;">
                               <img class="label_img" src="img/label_search.png" >
                        </div>
                        <div class="btn_name" >
                            Voir les labels existants
                        </div>
                    </button>
     </div>
         
        
     
     
     <ion-content ng-controller="ResortListCtrl" style="padding-top:135px;" delegate-handle="mainScroll">

         <ion-refresher
               pulling-text="Refresh..." 
               on-refresh="doRefresh()">
         </ion-refresher>
         <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
            <ion-item 
                 ng-repeat="item in items" 
                 class=" item-text-wrap" 
                 ng-if="limitDistance(item)"
              
                 ng-click="openBusiness(item)"
                 item="item"ok
                 >
 
             <img class="item-img" ng-src="{{item.business_photo_url}}">
             <div class="overlay_theme">
          
                    
                <div class="rate-container">
                    <div class="favorit-container">
                        <img ng-if="!item.favor_status" class="favorit-mark" ng-src="img/unfavorit.png">
                        <img ng-if="item.favor_status" class="favorit-mark" ng-src="img/favorit.png" >
                    </div>
                    <div class="circle-mark" ng-if="(item.business_rate_score!=0)&&(item.business_rate_score!=1)&&(item.business_rate_score!=2)&&(item.business_rate_score!=3)&&(item.business_rate_score!=4)&&(item.business_rate_score!=5)">
                    
                        <div class="project-number">
                            {{item.business_rate_score}}
                        </div>
              
                        <div class="total">
                            /5
                        </div>   
                    </div> 
                    <div class="circle-mark" ng-if="(item.business_rate_score==0)||(item.business_rate_score==1)||(item.business_rate_score==2)||(item.business_rate_score==3)||(item.business_rate_score==4)||(item.business_rate_score==5)">
                    
                        <div class="project-number_alt" ng-if="item.business_rate_score>0">
                            {{item.business_rate_score}}
                        </div>
                        <div class="project-number_alt" ng-if="item.business_rate_score==0">
                            -
                        </div>
              
                        <div class="total">
                            /5
                        </div>   
                    </div> 
                </div>
           
               <div class="row">
                   <div class="business-name">
                       {{item.business_name}}
                   </div>
                  
                   <!--<img class="order-check" src="img/leaf.png">-->
               </div>
               <div class="row">
                   <div class="col col-25">
                   <div class="type-name">
                       [{{item.business_type}}]
                   </div>
                  
               
                 </div>
                 <div class="col ">
                     
                     <div class="country-name">
                       {{item.business_city}}
                     </div>
                     <img class="map-icon" src="img/map_direct.png">
                 </div>
               </div>
               <div style="margin-left: 5px; margin-top: -6px;" ng-repeat="label in item.label_detail" >
                   <!--<div class="label-name_green" ng-if="label.avg_rate==6">
                       [...] 
                    </div>-->
                    <div class="label-name_green" ng-if="(label.avg_rate>3)&&(label.avg_rate<6)&&($index<3)">
                       [{{label.label_name}}] 
                    </div>
                    <div class="label-name_orange" ng-if="(label.avg_rate>1)&&(label.avg_rate<=3)&&($index<3)">
                       [{{label.label_name}}] 
                    </div>
                    <div class="label-name_red" ng-if="(label.avg_rate<=1)&&($index<3)">
                       [{{label.label_name}}] 
                    </div>
                    <div class="label-name_green" ng-if="(label.avg_rate>3)&&($index==3)">
                       [...] 
                    </div><div class="label-name_orange" ng-if="(label.avg_rate>1)&&(label.avg_rate<=3)&&($index==3)">
                       [...] 
                    </div>
                    <div class="label-name_red" ng-if="(label.avg_rate<=1)&&($index==3)">
                       [...] 
                    </div>
               
               </div>
             </div>
              <ion-option-button class="button-assertive" ng-click="changeFavor(item)">
                    <div class="share-btn">
                        <i class="icon ion-android-favorite-outline"></i>
                        <span>Favorite</span>
                    </div>

             </ion-option-button>
                
             
   
     
         </ion-item>
       </ion-list>
       <div style="height: 135px; width: 100%;">
           </div>
             
          
      
         
         
         
         
     </ion-content>
</ion-view>