<ion-view title='<h3 style="margin-top:7px;font-weight: 500; color: #96c424;">{{items.length}}   Results</h3>' class="searchresult-view" hide-nav-bar="false" ng-init="init()">

        <!--<button class="button icon ion-ios-arrow-back subnav-back" ng-click="goBack()"></button>-->

    <ion-nav-bar class="bar-positive">
            <!--<ion-nav-back-button  class="button-clear"><i class="ion-ios-arrow-back"></i>-->
            <!--</ion-nav-back-button>-->

        <ion-nav-buttons side="left">
               <button class="button button-icon button-clear" ng-click="goBack()" nav-direction="back">
                  <img class="back-button-img" src="img/back_button.png">
               </button>   
        </ion-nav-buttons>
            
            

        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear" ng-click="goSearchMap()" >
               <img style="margin-left: 10px; width: 20px; height: 22px;margin-top: 5px;" src="img/icon-map.png" >
            </button>
        </ion-nav-buttons>
              
    </ion-nav-bar>
    <div class="bar bar-subheader row">
      <div class="title">-Business Type : <span style="color: #000000;">{{label.business_type_name}}</span> -</div>
      <label class="item item-input col col-50">
        <input type="text" placeholder="Search Filter">
      </label>
      <button class="button button-balanced col">
      Notes
    </button>
    </div>
     
     <ion-content ng-controller="SearchResultCtl" style="padding-top:90px;" delegate-handle="mainScroll">

            <ion-refresher
               pulling-text="Refresh..." 
               on-refresh="doRefresh()">
         </ion-refresher>
  <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
            <ion-item 
                 ng-repeat="item in items" 
                 class=" item-text-wrap" 
                 ng-href="#"
                 ng-click="openBusiness(item)"
                 item="item"
                 >
 
             <img class="item-img" ng-src="{{item.business_photo_url}}">
             <div class="overlay_theme">
            
         
                    <div class="rate-container">
                         <div class="favorit-container">
                            <img ng-if="!item.favor_status" class="favorit-mark" ng-src="img/unfavorit.png" ng-click="changeFavor()">
                            <img ng-if="item.favor_status" class="favorit-mark" ng-src="img/favorit.png" ng-click="changeFavor()">
                        </div>
                        <div class="circle-mark" ng-if="(item.business_rate_score!=0)&&(item.business_rate_score!=1)&&(item.business_rate_score!=2)&&(item.business_rate_score!=3)&&(item.business_rate_score!=4)&&(item.business_rate_score!=5)">
                        
                            <div class="project-number">
                                {{item.business_rate_score}}
                            </div>
                    
                            <div class="total">
                                /5
                            </div>   
                        </div> 
                        <div class="circle-mark" ng-if="(item.business_rate_score==0)||(item.business_rate_score==1)||(item.business_rate_score==2)||(item.business_rate_score==3)||(item.business_rate_score==4)||(item.business_rate_score==5)">
                        
                            <div class="project-number_alt" ng-if="item.business_rate_score>0">
                                {{item.business_rate_score}}
                            </div>
                            <div class="project-number_alt" ng-if="item.business_rate_score==0">
                                -
                            </div>
                    
                            <div class="total">
                                /5
                            </div>   
                        </div> 
                    </div>
      
               <div class="row">
                   <div class="business-name">
                       {{item.business_name}}
                   </div>
                  
                   <!--<img class="order-check" src="img/leaf.png">-->
               </div>
               <div class="row">
                   <div class="col col-25">
                   <div class="type-name">
                       [{{item.business_type}}]
                   </div>
                  
               
                 </div>
                 <div class="col ">
                     
                     <div class="country-name">
                       {{item.business_city}}
                     </div>
                     <img class="map-icon" src="img/map_direct.png">
                 </div>
               </div>
                <div style="margin-left: 5px; margin-top: -6px;" ng-repeat="label in item.label_detail" >
                   <!--<div class="label-name_green" ng-if="label.avg_rate==6">
                       [...] 
                    </div>-->
                    <div class="label-name_green" ng-if="(label.avg_rate>3)&&(label.avg_rate<6)&&($index<3)">
                       [{{label.label_name}}] 
                    </div>
                    <div class="label-name_orange" ng-if="(label.avg_rate>1)&&(label.avg_rate<=3)&&($index<3)">
                       [{{label.label_name}}] 
                    </div>
                    <div class="label-name_red" ng-if="(label.avg_rate<=1)&&($index<3)">
                       [{{label.label_name}}] 
                    </div>
                    <div class="label-name_green" ng-if="(label.avg_rate>3)&&($index==3)">
                       [...] 
                    </div><div class="label-name_orange" ng-if="(label.avg_rate>1)&&(label.avg_rate<=3)&&($index==3)">
                       [...] 
                    </div>
                    <div class="label-name_red" ng-if="(label.avg_rate<=1)&&($index==3)">
                       [...] 
                    </div>
               
               </div>
                
             
             <ion-option-button class="button-assertive" ng-click="changeFavor(item)">
                    <div class="share-btn">
                        <i class="icon ion-ios-heart-outline"></i>
                        <span>Favorite</span>
                    </div>

             </ion-option-button>
     
         </ion-item>
       </ion-list>
             
          
      
         
           <div style="height: 100px; width: 100%;">
           </div>
         
         
     </ion-content>
</ion-view>