<ion-view title='<img class="title-image" src="img/logo.png" />' class="thanks-view md-box" >
    <ion-content>
        <div class="thanks-txt">
            <p class="red-txt">Thank you for submitting your order!</p>
            <p>Your information has been received, and we will send you a confirmation email, in a few minutes!</p>

        </div>
        <div class="thanks-img"></div>
    </ion-content>
</ion-view>