@charset "UTF-8";
@font-face {
  font-family: 'fontawesome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family: 'AkzidenzGroteskCondensed';
    

	src:  url('./akzidenz-grotesk-be-condensed.woff') format('woff');
}
.icon-google-wallet:before {
  font-family: "fontawesome";
  content: "\f1ee";
}
.icon-truck:before {
  font-family: "fontawesome";
  content: "\f0d1";
}
.icon-home:before {
  font-family: "fontawesome";
  content: "\f015";
}
.icon-credit-card:before {
  font-family: "fontawesome";
  content: "\f09d";
}
.icon-share-alt:before {
  font-family: "fontawesome";
  content: "\f1e0";
}
/*==============================================
 *  Global style
===============================================*/
body {
  cursor: url('../img/finger.png'), auto;
}
.md-box input::-webkit-input-placeholder,
.md-box textarea::-webkit-input-placeholder {
  color: #5e5c5c;
}
.md-box .scroll-content {
  display: table !important;
  width: 100% !important;
  height: 100% !important;
}
.md-box .scroll {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.assertive-bg {
  background-color: #51b267 !important;
}
.bar-header {
  background-color: #51b267 !important;
  border-color: #51b267 !important;
}
.button.button-positive.button-clear{
    color: #000000 !important;
}
.bar.bar-footer {
  background-color: #51b267 !important;
  border-color: #51b267 !important;
}
.scroll-bar-indicator {
  display: none;
}
.padding10 {
  padding-top: 10px !important;
}
.padding20 {
  padding-top: 20px !important;
}
.padding30 {
  padding-top: 30px !important;
}
.padding40 {
  padding-top: 40px !important;
}
.padding50 {
  padding-top: 50px !important;
}
.padding180 {
  padding-top: 180px !important;
}
.mt180 {
  margin-top: 180px !important;
}
.bar.bar-positive {
  background-color: #ffffff !important;
  border-color: #5e5c5c !important;
  border: none !important;
  border-width: 0 !important;
}
.bar.bar-positive .button.back-button {
  width: 30px;
  font-size: 24px;
}
.button {
  color: #ffffff;
}
.right-buttons .button .badge {
  position: absolute;
  top: -3px;
  right: -3px;
  background-color: #ededed;
  color: #51b267;
}
.scroll-bar-indicator {
  display: none;
}
.button.button-assertive{
    background-color: #51b267;
    border-color: #51b267;
    color: #ffffff;
}
.button.custom-back {
  border: none;
  background: none;
  color: #ffffff;
  font-size: 30px;
}
.nav-bar-tabs-top.hide ~ .view-container .tabs-top .tabs {
  top: 0;
}
.pane[hide-nav-bar="true"] .has-tabs-top {
  top: 49px;
}
.item-input .icon {
  padding-right: 15px;
  font-size: 30px;
 
  min-width: 40px;
  color: #51b267;
}
.modal .bar {
  background-color: #51b267;
}
.modal .bar .title {
  color: #ffffff;
}
.modal .button {
  background-color: #51b267;
  color: #ffffff;
  border: 1px solid #51b267;
  border-radius: 8px;
}
.modal .button-wrap {
  padding: 10px;
}
.input-border {
  border: 1px solid #5e5c5c !important;
  width: 100%;
  text-indent: 5px;
}
.input-label-full {
  display: table;
  padding: 7px 10px 7px 0;
  max-width: 200px;
  width: 100%;
  color: #444;
  font-size: 16px;
}
.input-label-full.no-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.title-image {
  padding-top: 10px;
  width: 130px;
  height: 40px;
}
.title-image-forget {
  padding-top: 8px;
  width: 200px;
  height: 35px;
}
.subnav-back:before {
  line-height: 16px!important;
}
.bar-subheader {
 
  background-size: 100% 0 !important;

  height: 30px;
}
.bar-subheader .title {
  color: #ffffff;
  line-height: 30px !important;
  height: 30px;
  font-size: 13px;
  font-weight: normal;
}

@media not all, (-webkit-min-device-pixel-ratio: 1.5), not all, (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .bar {
    border: none;
    background-image: linear-gradient(0deg, #51b267, #51b267 10%, transparent 10%);
    background-position: bottom;
    background-size: 100% 0 !important;
    background-repeat: no-repeat;
  }
}
.blue-txt {
  color: #006fdd;
}
.red-txt {
  color: #51b267;
}
/* Box ratio */
.box {
  display: inline-block;
  position: relative;
  float: left;
  font-size: 12px;
  overflow: hidden;
}
.box:before {
  content: "";
  display: block;
  padding-top: 100%;
  /* initial ratio of 1:1*/
}
/* Other ratios */
.ratio2_1:before {
  padding-top: 50%;
}
.ratio3_1:before {
  padding-top: 33.33333333%;
}
.ratio4_1:before {
  padding-top: 25%;
}
.ratio5_1:before {
  padding-top: 20%;
}
.ratio6_1:before {
  padding-top: 16.66666666%;
}
.ratio9_1:before {
  padding-top: 11.111111111%;
}
.ratio1_2:before {
  padding-top: 200%;
}
.ratio2_3:before {
  padding-top: 150%;
}
.ratio3_2:before {
  padding-top: 66.66666666%;
}
.ratio3_4:before {
  padding-top: 133.33333333%;
}
.ratio4_3:before {
  padding-top: 75%;
}
.ratio5_2:before {
  padding-top: 40%;
}
.ratio5_3:before {
  padding-top: 60%;
}
.ratio5_4:before {
  padding-top: 80%;
}
.ratio5_6:before {
  padding-top: 120%;
}
.ratio12_5:before {
  padding-top: 41.66666666%;
}
.ratio16_9:before {
  padding-top: 56.25%;
}
.ratio16_5:before {
  padding-top: 31.25%;
}
.ratio4_5:before {
  padding-top: 125%;
}
.ratio15_4:before {
  padding-top: 26.66666666%;
}
.ratio8_3:before {
  padding-top: 37.5%;
}
.ratio8_5:before {
  padding-top: 62.5%;
}
.box-content {
  /* Positioning */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* Styling */
  padding: 0px;
  vertical-align: middle;
}
.box-content.box-half-left {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top left;
  border-right: 1px solid #EDEDED;
}
.box-content.box-half-right {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top left;
  border-bottom: 1px solid #EDEDED;
}
.box-content.box-last-child {
  border-width: 0px;
}
.select {
  font-size: 16px;
  position: relative;
  display: inline-block;
}
.select select {
  outline: none;
  -webkit-appearance: none;
  display: block;
  padding: 5px 30px 5px 5px;
  margin: 0;
  transition: border-color 0.2s;
  border: 1px solid #000000;
  border-radius: 0;
  background: #fff;
  color: #555;
  line-height: normal;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.select .arr {
  background: #000;
  bottom: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 24px;
  pointer-events: none;
}
.select .arr:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 2px;
  margin-top: -5px;
  pointer-events: none;
  border-top: 10px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.select .arr:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 6px;
  margin-top: -5px;
  pointer-events: none;
  border-top: 6px solid #000000;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}
.popup-buttons .button {
  border-color: #51b267 !important;
  background-color: #51b267 !important;
}
.popover .list .item img.popover-icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  border-radius: 4px;
}
.popover .list .item.selected {
  background: #b3b3b3;
}
.platform-android .action-sheet {
  margin-left: 8px;
  margin-right: 8px;
  width: auto;
  z-index: 11;
  overflow: hidden;
}
.platform-android .action-sheet .action-sheet-title {
  padding: 16px;
  color: #8f8f8f;
  text-align: center;
  font-size: 13px;
}
.platform-android .action-sheet .button {
  display: block;
  padding: 1px;
  width: 100%;
  text-align: center;
  border-radius: 0;
  border-color: #d1d3d6;
  border-width: 1px 0 0;
  background-color: transparent;
  color: #007aff;
  font-size: 21px;
}
.platform-android .action-sheet-group {
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}
.platform-android .action-sheet-group .button:first-child:last-child {
  border-width: 0;
}
.platform-android .action-sheet-cancel .button {
  font-weight: 500;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  text-indent: 5px;
}
.green-txt {
  color: #008000;
}
/*==============================================
 *  Left Side-menu style
===============================================*/
.menu.menu-left {
  background-color: #51b267;
  border-color: #66d17f
   !important;
}
.menu.menu-left .bar-header {
  height: 270px !important;
  text-align: center;
  border-bottom: 1px solid #66d17f !important;
}

.menu.menu-left .bar-header .left-menu-box {
  width: 100%;
}
.menu.menu-left .bar-header .left-menu-box .left-menu-avatar {
 
  border: 2px solid #ffffff;
  border-radius: 80px;
  width: 160px;
  height: 160px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 3px;
  margin-top: 30px;
}

.menu.menu-left .bar-header .left-menu-box .left-menu-avatar .avatar-wrap {
  border: 1px solid #51b267;
  border-radius: 75px;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  overflow: hidden;
 
}
.menu.menu-left .bar-header .left-menu-box .left-menu-avatar .avatar-wrap img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  overflow: hidden;
}
.menu.menu-left .bar-header .left-menu-box p {
  margin: 5px 0;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: keep-all;
  word-wrap: break-word;
  line-height: 24px;
  height: 24px;
  
}

.menu.menu-left .login_btn{
  margin-left: -30px;
  width: 220px;
  height: 45px;
  background-color: #d3d3d3;
}
.menu.menu-left .login_img{
  margin-top: 2px;
  margin-left: 8px;
  width: 18px;
  height: 30px;
}
.menu.menu-left .login_btn .textbox{
  float: left;color: #444;
  font-size: 18px;
  padding-top: 5px;
  width: 160px;
  text-align: center;


}

.menu.menu-left .signup_btn{
  margin-left: -30px;
  margin-top: 15px;
  width: 220px;
  height: 45px;
  background-color: #96c424;
}
.menu.menu-left .signup_img{
  margin-top: 2px;
  margin-left:0px;
  width: 30px;
  height: 30px;
}

.menu.menu-left .signup_btn .textbox{
  float: left;
  color: #f9fcf5;
  font-size: 18px;
  padding-top: 5px;
  width: 160px;
  text-align: center;


}

.menu.menu-left .contactus_btn{
  margin-left: -30px;
  width: 220px;
  height: 45px;
  background-color: #d3d3d3;
}
.menu.menu-left .contactus_img{
  margin-top: 2px;
  margin-left: 0px;
  width: 40px;
  height: 30px;
}
.menu.menu-left .logout_btn{
  margin-left: -30px;
  width: 220px;
  height: 45px;
  background-color: #d3d3d3;
}
.menu.menu-left .logout_img{
  margin-top: 23px;
  margin-left: 30px;
  width: 45px;
  height: 30px;
}

.menu.menu-left .contactus_btn .textbox{
  float: left;color: #444;
  font-size: 18px;
  padding-top: 5px;
  width: 140px;
  text-align: center;


}
.menu.menu-left .logout_btn .textbox{
  float: left;color: #444;
  font-size: 18px;
  padding-top: 0px;
  margin-left: 40px;
  width: 140px;
  


}



.comment-button{

  color:#8bf9a4;
  margin:0, auto;
  font-size: 14px;
  
  
}

.comment-row{
margin-top: 5px;
text-align: center;

margin-left: -30px;

  
}


















.menu.menu-left .has-header {
  top: 269px !important;
  position: absolute !important;
}
.menu.menu-left .item,
.menu.menu-left .item-content {
  background-color: #51b267;
  border-color: #7ad790;
  color: #ffffff;

}
.menu.menu-left .item h2,
.menu.menu-left .item-content h2,
.menu.menu-left .item p,
.menu.menu-left .item-content p {
  color: #ffffff;
}
.menu.menu-left .item.activated,
.menu.menu-left .item-content.activated {
  background-color: #7ad790;
}
.menu.menu-left .item-icon-left .icon:before,
.menu.menu-left .item-icon-right .icon:before {
  width: 24px;
  height: 24px;
  line-height: 22px;
  font-size: 14px !important;
  border: 1px solid;
  border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-box-shadow: 0px 0px 2px #888;
  -webkit-box-shadow: 0px 0px 2px #888;
  box-shadow: 0px 0px 2px #888;
}
/*==============================================
 *  Right Side-menu style
===============================================*/
.menu.menu-right .item-content {
  padding: 5px;
}
.menu.menu-right .order-item {
  border: none;
  border-bottom: 2px solid #51b267;
}
.menu.menu-right .order-item p em {
  color: #000000;
  font-weight: 600;
}
.menu.menu-right .order-item .order-item-actions .button {
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  line-height: 30px;
  font-size: 16px;
  border-radius: 100%;
  border-width: 2px;
  color: #5b5b5b;
  border-color: #5b5b5b;
}
.menu.menu-right .order-item .order-item-actions .button .icon {
  top: -1px;
  right: 6px!important;
  position: relative;
}
.menu.menu-right .order-item .order-item-actions .button .icon:before,
.menu.menu-right .order-item .order-item-actions .button.icon-left:before,
.menu.menu-right .order-item .order-item-actions .button.icon-right:before,
.menu.menu-right .order-item .order-item-actions .button.icon:before {
  line-height: 30px;
  font-size: 20px;
}
.menu.menu-right .order-item .order-item-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
}
.menu.menu-right .order-item:last-child {
  border-bottom-width: 1px;
}
/*===============================================
 * Main view style
 *===============================================*/
.main-view .has-header {
  top: 214px !important;
  position: absolute !important;
  margin-top: 0 !important;
}
.main-view .banner {
  height: 140px;
  top: 74px;
  position: relative;
}
.main-view .slider {
  height: 140px;
  top: 74px;
  border-bottom: 5px solid #51b267;
}
.main-view .slider-slide,
.main-view .banner {
  color: #000;
  background-color: #fff;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
.main-view .slider-slide .box,
.main-view .banner .box {
  width: 100%;
  height: 100%;
}
.main-view .slider-slide .box .box-content,
.main-view .banner .box .box-content {
  background-size: cover;
}
.main-view .slider-slide .box .box-content .item-content-wrap,
.main-view .banner .box .box-content .item-content-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #444444;
  background: -moz-linear-gradient(top, rgba(160, 160, 160, 0.35), rgba(120, 120, 120, 0.55)) !important;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(160, 160, 160, 0.35)), to(rgba(120, 120, 120, 0.55))) !important;
  background: -webkit-linear-gradient(top, rgba(160, 160, 160, 0.35), rgba(120, 120, 120, 0.55)) !important;
  background: -o-linear-gradient(top, rgba(160, 160, 160, 0.35), rgba(120, 120, 120, 0.55)) !important;
  background: linear-gradient(to bottom, rgba(160, 160, 160, 0.35), rgba(120, 120, 120, 0.55)) !important;
}
.main-view .slider-slide .box .box-content h2,
.main-view .banner .box .box-content h2 {
  color: #ffffff;
}
.main-view .slider-slide .box .box-content .call-btn,
.main-view .banner .box .box-content .call-btn {
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  border-radius: 100%;
  right: 5px;
  bottom: 5px;
  position: absolute;
  background-color: #51b267;
}
.main-view .slider-slide .box .box-content .call-btn .icon,
.main-view .banner .box .box-content .call-btn .icon {
  position: relative;
  top: -5px;
  left: -5px;
}
.main-view .slider-slide .box .box-content .rest-name,
.main-view .banner .box .box-content .rest-name {
  position: absolute;
  top: 45px;
  left: 10px;
  color: #000000;
  font-size: 24px;
}
.main-view .slider-slide .box .box-content .rest-logo,
.main-view .banner .box .box-content .rest-logo {
  position: absolute;
  top: 5px;
  left: 5px;
}
.main-view .slider-slide .box .box-content .rest-logo img,
.main-view .banner .box .box-content .rest-logo img {
  width: 60px;
  height: 40px;
}
.main-view .slider-slide .box .box-content .rest-address,
.main-view .banner .box .box-content .rest-address {
  position: absolute;
  bottom: 10px;
  left: 10px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  word-wrap: break-word;
  line-height: 16px;
  min-height: 20px;
  padding-left: 16px;
  padding-right: 10px;
  font-size: 12px;
  width: 300px;
  text-align: left;
}
.main-view .slider-slide .box .box-content .rest-address .icon,
.main-view .banner .box .box-content .rest-address .icon {
  font-size: 20px;
  position: absolute;
  left: 0;
  top: 0;
  color: #000000;
}
.main-view .slider-slide .box .box-content .rest-address span,
.main-view .banner .box .box-content .rest-address span {
  color: #000000;
}
.main-view .slider-slide .box .box-content .fav-btn,
.main-view .banner .box .box-content .fav-btn {
  position: absolute;
  text-align: center;
  width: 32px;
  height: 32px;
  top: 50px;
  right: 5px;
}
.main-view .slider-slide .box .box-content .fav-btn .icon,
.main-view .banner .box .box-content .fav-btn .icon {
  font-size: 24px;
  color: #FFB830;
}
.main-view .slider-slide .box .box-content .share-btn,
.main-view .banner .box .box-content .share-btn {
  position: absolute;
  text-align: center;
  width: 32px;
  height: 32px;
  top: 10px;
  right: 5px;
}
.main-view .slider-slide .box .box-content .share-btn .icon,
.main-view .banner .box .box-content .share-btn .icon {
  font-size: 24px;
  color: #ffffff;
}
.main-view .slider-slide .box .box-content .rest-timing,
.main-view .banner .box .box-content .rest-timing {
  position: absolute;
  bottom: 10px;
  left: 5px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  word-wrap: break-word;
  line-height: 16px;
  font-size: 12px;
  width: 100%;
  text-align: left;
}
.main-view .slider-slide .box .box-content .rest-timing p,
.main-view .banner .box .box-content .rest-timing p {
  position: relative;
  margin-bottom: 2px;
}
.main-view .slider-slide .box .box-content .rest-timing p .icon,
.main-view .banner .box .box-content .rest-timing p .icon {
  font-size: 16px;
  position: absolute;
  left: 1px;
  top: 0;
  color: #000000;
}
.main-view .slider-slide .box .box-content .rest-timing p span,
.main-view .banner .box .box-content .rest-timing p span {
  color: #000000;
  padding-left: 16px;
}
.main-view .scroll {
  height: 100%;
}
.main-view .scroll-content {
  padding-top: 0 !important;
}
.main-view .tab-content .pane {
  margin-top: 30px;
}
.main-view .tab-content .pane .has-tabs-top {
  top: 0;
  bottom: 120px;
  height: 100%;
}
.main-view .tab-content .scroll-content .scroll {
  height: 100%;
}
.main-view .tab-content .list .item {
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-color: #51b267;
  border-bottom-width: 2px;
}
.main-view .tabs {
  top: 0;
  padding-top: 0 !important;
  height: 30px;
}
.main-view .tabs .tab-item {
  font-size: 12px;
  border-right: 1px solid #5e5c5c;
  border-bottom: 2px solid #51b267;
  line-height: 28px;
  padding-left: 5px;
  width: 25% !important;
  text-align: left !important;
}
.main-view .tabs .tab-item img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  border-radius: 4px;
}
.main-view .tabs .tab-item img.moretab-icon {
  width: 24px;
  height: 24px;
}
.main-view .tabs .tab-item.selected {
  background: #149eeb;
  color: white;
}
.main-view .tabs .tab-item:last-child {
  border-right-width: 0 !important;
}
.main-view .tabs .tab-item-active {
  border-bottom-width: 4px !important;
  border-right: 1px solid #5e5c5c !important;
}
.main-view .view-container {
  margin-top: 30px;
}
.main-view .view-container .item.selected {
  background-color: #c0c0c0;
}
.main-view .view-container .item.selected p,
.main-view .view-container .item.selected h2,
.main-view .view-container .item.selected .icon,
.main-view .view-container .item.selected em {
  color: #ffffff !important;
}
.main-view .tabs .tab-item .icon.breakfast {
  background-repeat: no-repeat;
  background-position: 50%;
  width: 24px;
  height: 34px;
  background-image: url('../img/home/breakfast.png');
  background-size: contain;
}
.main-view .tabs .tab-item .icon.lunch {
  background-repeat: no-repeat;
  background-position: 50%;
  width: 24px;
  height: 34px;
  background-image: url('../img/home/lunch.png');
  background-size: contain;
}
.main-view .tabs .tab-item .icon.dinner {
  background-repeat: no-repeat;
  background-position: 50%;
  width: 24px;
  height: 34px;
  background-image: url('../img/home/dinner.png');
  background-size: contain;
}
.main-view .tabs .tab-item .icon.more {
  background-repeat: no-repeat;
  background-position: 50%;
  width: 24px;
  height: 36px;
  background-image: url('../img/home/more.png');
  background-size: contain;
}
.main-view .item .icon {
  display: block;
  padding-top: 16px;
  color: #51b267;
}
.main-view .item .icon em {
  font-size: 9px;
  display: block;
}
.main-view .item .icon:before {
  width: 100%;
}
/*==============================================
 *  Login page
===============================================*/
.login-view {
  background-color: #51b267;
}
.login-view .row {
  padding: 10px !important;
}
.login-view .login-img-wrap {
  text-align: center;
  width: 100%;
  height: 120px;
  background: url("../img/login-bg.png") no-repeat 100% 100%;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-position: center;
}
.login-view .forgot-lnk,
.login-view .signup-lnk {
  color: #ffffff;
  padding: 0 10px;
  font-size: 1.2em;
  width: 100%;
}
.login-view .forgot-lnk {
  text-align: right;
}
.login-view .signup-lnk {
  text-align: center;
}
.login-view .login-form {
  font-family: "宋体";
}
.login-view .login-form .sel-lang-wrap {
  margin: 15px auto;
  width: 200px;
}
.login-view .login-form input::-webkit-input-placeholder {
  color: #51b267;
}
.login-view .login-form .list {
  border-radius: 8px;
  font-weight: bold;
  padding-bottom: 0;
}
.login-view .login-form .sel-lang {
  background-color: white;
  padding: 0 2px;
  border-radius: 8px;
}
.login-view .login-form .sel-lang .button-outline {
  border-color: #ffffff !important;
  border-width: 2px;
  color: #51b267 !important;
}
.login-view .login-form .sel-lang .item:first-child {
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
}
.login-view .login-form .sel-lang .item:last-child {
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}
.login-view .info-wrap {
  border-radius: 8px;
}
.login-view .info-wrap .item {
  padding: 6px 0 6px 32px;
  border-radius: 0;
}
.login-view .info-wrap .item:first-child {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}
.login-view .info-wrap .item:last-child {
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}
.login-view .info-wrap .placeholder-icon {
  width: 36px;
  font-size: 30px;
  color: #51b267;
}
.login-view .info-wrap .item:last-child {
  margin-bottom: 0 !important;
}
.login-view .item-radio .item-content {
  padding: 0px;
  background: none;
}
.login-view .button {
  color: #ffffff;
}
.login-view .button-bar .button {
  min-height: 0;
  line-height: 30px;
}
.login-view .button-bar > .item-radio.button {
  padding: 0;
  border: 2px solid #ffffff !important;
  background-color: #ffffff !important;
}
.login-view .item-radio input:checked ~ .item-content {
  /* style the item content when its checked */
  border-color: #51b267;
  background-color: #51b267;
  color: #ffffff;
}
.login-view .item-radio .radio-icon {
  display: none;
}
.login-view .button.button-positive.button-outline.active,
.login-view .button.button-positive.button-outline.activated {
  background-color: #51b267;
  box-shadow: none;
  color: #ffffff;
  border-radius: 0;
}
.login-view .card .item:first-child .item-content,
.login-view .list-inset .item:first-child .item-content,
.login-view .padding > .list .item:first-child .item-content {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.login-view .card .item:last-child .item-content,
.login-view .list-inset .item:last-child .item-content,
.login-view .padding > .list .item:last-child .item-content {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.login-view .card .item:last-child,
.login-view .list-inset .item:last-child {
  margin-bottom: 1px;
}
/*=============================================
 * Resort List View
 *=============================================*/
.resort-view .item-content {
  color: white !important;
  height: 245px;
  background-position: center right;
  padding: 0px;
}
/*===
====*/
.item-img{
  width: 100%;
  height: 240px; 
  
}

.overlay_theme {
    background: url(../img/label_display.png);
    font-size: 15px;
    color: #ffffff;
    
    opacity: 0.8;
    margin-top: -84px;


    font-weight: 400;
    width: 100%;
    height:80px;

    word-wrap: normal;
    
    
}
/*===
====*/
.favorit-container{
    

    margin-top: -90px;
   padding-left: 22%;
}
.favorit-mark{
    height: 30px;
    width: 30px;
    margin-top:50px;
    
}
.gm-style .gm-style-iw{
    overflow: inherit;
    margin-left: -20px;
    margin-top: -13px;
    height: 110px;
}
.gm-style .gm-style-iw .detail{
    width: 130%;
    padding-right: 0px;
}
.gm-style .gm-style-iw .col{
    padding: 0px;
}
.gm-style .gm-style-iw .gmap-photo{
    width: 112%; height: 127px;
    
}
.gm-style .gm-style-iw .gmap-point{
    width: 100%; height: 100%;

     height: 56px;
    width: 56px;
}
.gm-style .gm-style-iw .bussiness-name{
    color:green; 
    margin-bottom: 0px;
    margin-top: 5px;
    margin-left: 23px;
    font-weight: 500;
    font-size: 12px;

}
.gm-style .gm-style-iw .bussiness-city{
    float:right; 
    color: #89ac27; 
    font-weight: 300; 
    font-size: 12px; 

}
.gm-style .gm-style-iw .map-location {
  
    width: 14px;
    margin-left: 0px;

}
.gm-style .gm-style-iw .bussiness-name{
    color:green; 
    margin-bottom: 0px;
    margin-top: 5px;
    margin-left: 23px;
    font-weight: 500;
    font-size: 16px;

}
.gm-style .gm-style-iw .bussiness-label{
  
    margin-left: 23px;
    font-size: 12px;

}
.gm-style .gm-style-iw .circle-mark{
    position: relative;
    background-size: cover;
    height: 56px;
    width: 56px;
    margin-top:-62px;


}
.gm-style .gm-style-iw .project-number{
 position: absolute;
 float: left;
 top: 0px;
  left: -1px;
  color: #ffffff;
  font-size: 20px;
}
.gm-style .gm-style-iw .rate-number{
  position: absolute;
  top: 0px;
  float: left;
  margin-left:17px;
  color: #ffffff;
  font-size: 20px;
  
  
}
.gm-style .gm-style-iw .label-name_green {
  
  float: left;
  margin-top: 0px;
  margin-left: 2px;
  font-size: 12px;
  color: #89ac27;
  font-weight: 100;
  padding-right: 3px;

}
.gm-style .gm-style-iw .label-name_orange {
  
  float: left;
  margin-top: 0px;
  margin-left: 2px;
  font-size: 12px;
  color: #FFB830;
  font-weight: 100;
  padding-right: 3px;

}
.gm-style .gm-style-iw .label-name_red {
  
  float: left;
  margin-top: 0px;
  margin-left: 2px;
  font-size: 12px;
  color: #ff4444;
  font-weight: 100;
  padding-right: 3px;

}

.gm-style .gm-style-iw .total{
 position: absolute;
  top:37px;
  margin-left: 35px;  

  color: #000000; 
  font-size: 13px;
  font-weight: 100; 
}
.gm-style .gm-style-iw .bussiness-favor{
    float:left;
    width:20px;
    margin-left: 23px;
}
.gm-style .gm-style-iw .bussiness-type{
    margin-left: 23px;
    font-size: 12px;
}

.rate-container{
    margin-top: -55px;
    margin-left: 0px;
    margin-right: 20px;
    float: right;

}
li {
    list-style: none;
}
.circle-mark{
    height: 56px;
    width: 56px;
    background-color: #8fba23;
    opacity: 1;
    border-radius: 28px;

}
.project-number{
  float:left;
  margin-top: 16px;
  margin-left: 6px;
  color: #ffffff;
  font-size: 20px;
}
.project-number_alt{
  float:left;
  margin-top: 16px;
  margin-left: 16px;
  color: #ffffff;
  font-size: 20px;
}
.rate-number{
  float:left;
  margin-top: 16px;
  margin-left:1px;
  color: #ffffff;
  font-size: 20px;
  
  
}
.total{
  float:left;
  margin-top: -18px;
  margin-left: 33px;  

  color: #000000; 
  font-size: 13px;
  font-weight: 500; 
}
/*===
====*/


.resort-view .bar-subheader {
  background-color: #ededed !important;
  background-size: 100% 0 !important;
  border-color: #d1d3d6 !important;
  height: 135px;
  border-color: #000000;
  border-top-style: solid;
  border-top-width: 2px;
  padding-top: 40px;
  padding-left: 8%;
  padding-right: 8%;
  
}
.resort-view .bar-subheader .title {
  padding-top: 10px;
  color: #a1a1a1;
  font-size: 16px;
  height: 40px;
}
.resort-view .label-header{
    height: 100px;
    
    
    background-color: #ededed;
    padding-top: 40px;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 80px;
}
.resort-view .labelList{
    text-align: center;
    height: 50px;
    font-size: 18px;
    padding-top: 12px;
    padding-bottom: 20px;
    border-bottom: #dddddd solid 1px;;
}
.resort-view .bar-subheader .label_btn {
  width: 70%;
  margin-left: 14%;
  background-color: #51b267;
  
 
  height: 37px;
}

.resort-view .bar-subheader .label_img {
  margin-top: 5px;
  margin-left: 5px;
  width: 20px;

}
.resort-view .bar-subheader .btn_name {
  margin-top: 5px;
  color: #ffffff;
  font-size: 14px;

}
.resort-view .item-input-inset{
    padding-top:0px;
    padding-bottom: 4px;
}
.resort-view .item-input-wrapper {
  border-color:#a1a1a1;
  border-left-width: 1px;
  border-style: solid;
  border-width: 1px;
  border-radius: 0mm;
  background-color: #ffffff;
  height: 34px;
  border-right-color: #ffffff;
  border-right-width:  0px;
  
  line-height: 40px;  
}
.resort-view .search_icon {
  height: 20px;
  width: 20px;  
  background-color: #ffffff;
}
.resort-view .plus_button{
  height: 34px;
  width: 34px;  
  margin-top: 2px;
  margin-left: -2px;

}
.resort-view .search_button{
  height: 34px;
  width: 34px;  
  margin-top: 0px;

  background-color: #ffffff;
  border-color:#a1a1a1;
  border-left-width: 1px;
  border-style: solid;
  border-width: 1px;
  border-left-color: #ffffff;
  border-left-width:  0px;
}
.resort-view .button-clear{
  padding-left: 0px;  
}




.business-name {
 margin-bottom: 4px;
 font-size: 20px;
  margin-top: 16px;
  margin-left: 3px;
  font-weight: 600;


  width: 100%;
  color: white;

 
  
}
.order-check{
  margin-top: 15px;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  float: left;
}
.type-name{
    position: absolute;
    margin-top: -8px;
    font-size: 13px;
    margin-left: -2px;
    font-weight: 600;
}

.label-name_green {
  
  float: left;
  margin-top: -9px;
  margin-left: 2px;
  font-size: 13px;
  color: #89ac27;
  font-weight: 600;
  padding-right: 3px;

}
.label-name_orange {
  
  float: left;
  margin-top: -9px;
  margin-left: 2px;
  font-size: 13px;
  color: #FFB830;
  font-weight: 600;
  padding-right: 3px;

}
.label-name_red {
  
  float: left;
  margin-top: -9px;
  margin-left: 2px;
  font-size: 13px;
  color: #ff4444;
  font-weight: 600;
  padding-right: 3px;

}
.map-icon{
  float: right;
  margin-top: -4px;
  margin-left: 0px;
  width: 18px;
  height: 17px; 
  padding-right: 3px; 
}
.country-name{
  float: right;
  margin-top: -8px;
  padding-left: 0px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  color: #d8eba8;
  
  
}





.resort-view .item-content.activated:before {
  opacity: 0.9 !important;
}


.resort-view .resort .item-content-wrap .image-loader-container {
  text-align: center !important;
}
.resort-view .resort .item-content {
  padding: 0;
}


.resort-view .button-assertive1{
  background-color: #51b267;
  border-color: #51b267;
  font-size: 18px;
  height: 40px;
  margin-top: -20px;
}



/*=============================================
 * Order View
 *=============================================*/
.order-view .has-header {
  top: 74px !important;
  position: absolute !important;
}
.order-view .right-arrow-item .item-content {
  padding: 0 30px 0 0 !important;
}
.order-view .item-content {
  padding: 0;
}
.order-view .item-content .row {
  overflow: hidden;
}
.order-view .item-content .row .col {
  line-height: normal;
}
.order-view .item-content span {
  line-height: 14px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.order-view .item-content .order-title {
  font-size: 24px;
  font-weight: bold;
  color: #51b267;
  margin: 0;
}
.order-view .item-content .order-datetime {
  font-size: 10px;
  width: 45px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  word-break: keep-all;
  word-wrap: break-word;
  line-height: 16px;
  margin: 0 auto;
}
.order-view .item-content .order-restr-name {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
}
.order-view .item-content .first {
  text-align: center !important;
}
.order-view .item-content .third {
  padding-top: 31px !important;
  text-align: right;
}
.order-view .item-content .fourth {
  padding-top: 12px !important;
}
.order-view .item-content .fifth {
  padding-top: 16px !important;
  text-align: right;
}
.order-view .pre-input {
  line-height: 32px;
}
.order-view .tip-input {
  width: 80% !important;
  float: right;
}
.order-view .valid-card-mark {
  position: relative;
  top: 3px;
  font-size: 32px;
  color: green;
}
.order-view .cvv-info-mark {
  position: relative;
  top: 5px;
  font-size: 30px;
  color: #5e5c5c;
}
.order-view .cvv-input {
  width: 80px;
  display: inline;
}
.order-view .icon.ion-help-circled {
  font-size: 30px;
  position: relative;
  top: 4px;
}
.order-view .r0 {
  color: #ffffff !important;
}
.order-view .r1 {
  border-bottom: 2px solid #51b267 !important;
}
.order-view .r1 .r11 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.order-view .r1 .r11 .col p {
  padding-left: 24px;
}
.order-view .r2 {
  color: #ffffff !important;
  background-color: #51b267 !important;
  line-height: 16px;
}
.order-view .r2 .text-right {
  padding-right: 15px;
}
.order-view .r3 {
  padding: 20px 0 !important;
}
.order-view .r3 .col {
  position: relative;
}
.order-view .r3 p {
  font-weight: 600;
}
.order-view .r3 .state-mark {
  width: 32px;
  height: 32px;
  margin: 0 auto;
  line-height: 28px;
  color: #000000;
  border-radius: 100%;
  background-color: #ffffff;
  border: 2px solid #51b267;
}
.order-view .r3 .state-mark.status_0 {
  color: #ffffff;
  background-color: #51b267;
}
.order-view .r3 .state-mark.status_1 {
  color: #000000;
  background-color: #ededed;
}
.order-view .r3 .state-mark.status_2 {
  color: #ffffff;
  background-color: #51b267;
}
.order-view .r3 .state-mark.status_3 {
  color: #51b267;
  background-color: #ffffff;
}
.order-view .r3 .state-mark.status_4 {
  color: #51b267;
  background-color: #ededed;
}
.order-view .r3 .state-mark.past {
  color: #ffffff !important;
  background-color: #51b267 !important;
}
.order-view .r3 .state-arrow {
  position: absolute;
  top: 16px;
  right: -25%;
  width: 40%;
  height: 10px;
  background: url(../img/track_arrow.png) no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
}
.order-view .r4 {
  padding-right: 0 !important;
}
.order-view .r5 {
  margin: 0 auto 10px;
  width: 36px;
  height: 36px;
  padding: 2px !important;
  border-radius: 100%;
}
.order-view .r5.selected {
  -webkit-animation: pulse-border 1s infinite;
}
.order-view .item p {
  color: #000000 !important;
}
.order-view .item-icon-right .icon-accessory {
  color: #000000 !important;
}
.order-view .order-state {
  color: #000000 !important;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 14px;
}
.order-view .order-state.status_0 {
  background-color: yellow;
}
.order-view .order-state.status_1 {
  background-color: #51b267;
}
.order-view .order-state.status_2 {
  background-color: #51b267;
}
.order-view .order-state.status_3 {
  background-color: #319a10;
}
.order-view .order-state.status_4 {
  background-color: #2b3126;
}
.order-view .order-item {
  border: none;
  border-bottom: 2px solid #51b267;
  padding: 16px 0;
}
.order-view .order-item p em {
  color: #000000;
  font-weight: 600;
}
.order-view .order-item .order-item-actions .button {
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  line-height: 30px;
  font-size: 16px;
  border-radius: 100%;
  border-width: 2px;
  color: #5b5b5b;
  border-color: #5b5b5b;
}
.order-view .order-item .order-item-actions .button .icon {
  top: -1px;
  right: 6px!important;
  position: relative;
}
.order-view .order-item .order-item-actions .button .icon:before,
.order-view .order-item .order-item-actions .button.icon-left:before,
.order-view .order-item .order-item-actions .button.icon-right:before,
.order-view .order-item .order-item-actions .button.icon:before {
  line-height: 30px;
  font-size: 20px;
}
.order-view .order-item .order-item-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
}
.order-view .order-item:last-child {
  border-bottom-width: 1px;
}
.order-view .sum {
  margin-top: 50px !important;
}
.order-view .sum .item {
  border-color: rgba(255, 255, 255, 0.4);
  background-color: #51b267(209, 32, 38, 0.8);
  color: #ffffff;
  height: 30px !important;
  line-height: 0 !important;
}
.order-view .sum .em {
  font-weight: bold;
}
.order-view .sum .item-note {
  color: #ffffff;
}
.order-view .black-bold {
  font-weight: bold;
  color: #000000 !important;
}
.order-view .red-bold {
  font-weight: bold;
  color: #51b267 !important;
}
.order-view .cart-empty {
  margin: 0 auto;
  text-align: center;
}
.order-view .cart-empty img {
  margin: 0 auto;
  width: 100px;
  height: auto;
}
@-webkit-keyframes pulse-border {
  from,
  to {
    box-shadow: 0 0 0 1px #51b267;
  }
  50% {
    box-shadow: 0 0 0 2px #ffa2c8;
  }
}
/*====================================
 * Welcome View Style
 *===================================*/
 .welcome-view {
     background-color: #ededed;
     border-top-width: 2px;
     border-top-style: solid;
     border-top-color: #b3b3b3;
   
 }
 .welcome-view .title-image{
   width: 150px;
   height: 35px;
 }
.welcome-view .logo-welcome {
  margin: 10px auto 0;
  text-align: center;

}
 .welcome-view .back-button-img{
   margin-left: 5px;
   margin-top: 5px;
   width: 20px; 
   height: 20px;
 }
 .welcome-view .image {

  padding: 0px 15px;
  text-align: center;

}
  .welcome-view .image .img-mark{
   margin-top: 40px;
   
   width: 60px;

 }
 .welcome-view .image .img-logo{
   margin-top: 0px;
   width: 140px;
 }


 .welcome-view .text {

  padding: 0px 40px;
  margin-top: 20px;
  margin-left: 10px;

  font-size: 16px;
  line-height: 25px;
  text-align: center;

}





.welcome-view .welcome-txt {
  margin-top: 130px;
  text-align: center;
  padding: 0 30px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #a1a1a1;
}

.welcome-view .login-btns {
  width: 70%;
  margin: 0 auto 0 auto;
}
.welcome-view .login-btns .button {
  height: 40px !important;
  min-height: 40px !important;
  line-height: 40px !important;
}
.welcome-view .login-btns .guestlogin-btn {
  background-color: #51b267;
  border-color: #51b267;
}
.welcome-view .login-btns .fblogin-btn {
  background-color: #3c5c95;
  border-color: #3c5c95;
}
.welcome-view .login-btns .gplogin-btn {
  background-color: #51b267;
  border-color: #51b267;
}
.welcome-view .login-btns .emaillogin-btn {
  background-color: #3c5c95;
  border-color: #3c5c95;
}
.welcome-view .login-btns .signup-btn {
  background-color: #0c2d60;
  border-color: #226ee3;
  color: #ffffff;
}
.welcome-view .login-inputs {
  margin-top: 30px;
  padding: 0 40px;

}
.welcome-view .login-inputs .item-input {
  padding: 0 0 0 16px;
  margin-top: 10px;
}
.welcome-view .login-inputs .button {
  margin-top: 30px;
  min-height: 40px !important;
  height: 40px !important;
  line-height: 40px !important;
  border-radius: 3px;
}
.welcome-view .login-inputs .button.button-assertive {
  background-color: #51b267 !important;
  border-color: #51b267;
}
.welcome-view .login-inputs .forgot {
  border-width: 0 !important;
  color: #51b267;
  text-align: right;
  padding: 3px;
}
.welcome-view .login-inputs .item.back {
  border-width: 0 !important;
  color: #5e5c5c;
  text-align: left;
  padding: 3px;
}
.welcome-view .login-inputs .signup-btn {
  border: 2px solid #51b267 !important;
  color: #5e5c5c !important;
  font-weight: 600;
}
.welcome-view .login-inputs .fblogin-btn {
  background-color: #3c5c95;
  border-color: #3c5c95;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.welcome-view .login-inputs .gplogin-btn {
  background-color: #51b267;
  border-color: #51b267;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.welcome-view h2 {
  position: relative !important;
  margin-top: 0 !important;
  font-size: 16px;
  color: #51b267;
}
.welcome-view h2.three {
  background: -moz-linear-gradient(#ffffff 0%, #ffffff 49%, #000000 50%, #000000 51%, #ffffff 52%, #ffffff 100%) !important;
  background: -ms-linear-gradient(#ffffff 0%, #ffffff 49%, #000000 50%, #000000 51%, #ffffff 52%, #ffffff 100%) !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(49%, #ffffff), color-stop(50%, #000000), color-stop(51%, #000000), color-stop(52%, #ffffff), color-stop(100%, #ffffff)) !important;
  background: -webkit-linear-gradient(#ffffff 0%, #ffffff 49%, #000000 50%, #000000 51%, #ffffff 52%, #ffffff 100%) !important;
  background: -o-linear-gradient(#ffffff 0%, #ffffff 49%, #000000 50%, #000000 51%, #ffffff 52%, #ffffff 100%) !important;
  background: linear-gradient(#ffffff 0%, #ffffff 49%, #000000 50%, #000000 51%, #ffffff 52%, #ffffff 100%) !important;
}
.welcome-view h2.three span {
  background: #fff !important;
  padding: 0 20px !important;
  position: relative !important;
  z-index: 5000 !important;
}
/*================================
 * Thanks View Style
 *================================*/
.thanks-view .thanks-txt {
  width: 252px;
  height: 211px;
  margin: 0 auto;
  background: url(../img/arrow_bubble.png) no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  padding: 20px 20px 60px;
  font-weight: 600;
}
.thanks-view .thanks-txt .red-txt {
  color: #51b267;
}
.thanks-view .thanks-img {
  width: 215px;
  height: 208px;
  margin: 0 auto;
  background: url(../img/thankyou_img.png) no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  margin-bottom: 40px;
}
.profile-view{
  
  background-color: #ebebeb;
 
  position: absolute !important;
  padding-top: 0;

}
.profile-view .profile-container {
  padding: 15px 60px;
 

}
.profile-view .row .col1 {
 margin-left: -5px;
}
.profile-view .row .col2 {
  margin-left: 20px;
}
.profile-view .profile-container .pic-circle{
  margin: 0 auto;
  width: 142px;
  height: 142px;
  background-color: #ededed;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius:100% ;
  border: 1px solid #9e9c9c;


  
}
.profile-view .profile-container .profile-pic {
  margin: 0 auto;
  margin-top: 2px;
  width: 137px;
  height: 137px;
  background-color: #ededed;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
  border: 4px solid #ffffff;
  margin-bottom: 10px;
  position: relative;
}
.profile-view .profile-container .profile-pic img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.profile-view .profile-container .fb-btn {
  background-color: #3c5c95;
  border-color: #3c5c95;
  font-size: 12px;
  line-height: 24px !important;
  width: 180px;
  height: 26px !important;
  min-height: 24px !important;
  margin: 0 auto;
}
.profile-view .profile-container .button.icon-left:before {
  font-size: 16px;
  line-height: 24px;
  border-right: 1px solid #304873;
  padding-right: 10px;
}
.profile-view .profile-container .edit-btn {
  position: absolute;
  bottom: 0px;
  right: -30px;
  background-color: #ffffff !important;
  border: 2px solid #51b267;
  color: #51b267;
  padding: 0;
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  line-height: 30px;
  border-radius: 100%;
}
.profile-view .input-label em {
  color: #51b267;
}
.profile-view .content-container{
  padding-left: 30px;
  padding-right: 30px;
}
.profile-view .content-container .title{
  margin-top: 10px;
  font-weight: 700;
}

.profile-view .item:last-child {
  border-bottom-width: 1px !important;
}
.profile-view .bar.bar-assertive.bar-footer {
  background-color: #51b267 !important;
  text-transform: uppercase;
}
.profile-view .bar.bar-assertive.bar-footer .icon {
  font-size: 20px;
}
.profile-view .logout-btn {
  background-color: #51b267 !important;
  border-color: #51b267 !important;
}

/*===================================
 * Register Page
 *==================================*/
.area{
   height: 100px;
 }
 
 .register-view{
   background-color: #ededed;
}
.register-view .fblogin-btn {
  background-color: #2f4881;
  border-color: #2f4881;
  width: 80%;
  margin-left: 10%;
}
.register-view .plus_button{
  height: 48px !important;
  width: 51px;
  margin-top: 11px;
  margin-left: 13px;
 
  padding: 0;
}

.title-image{
  width: 150px;
  height: 35px;
}

.register-view .text{
  width: 100%;
  height: 1px;
}
 .back-button-img{
   margin-left: 5px;
   margin-top: 5px;
   width: 20px; 
   height: 20px;
 }
.register-view .logo-welcome {
  width: 200px;
  height: 162px;
  margin: 10px auto 0;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  text-align: center;
}
.register-view .logo-welcome img {
  width: auto;
  height: 162px;
}
.register-view .welcome-txt {
  text-align: center;
  padding: 10px 20px 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
.register-view .welcome-txt strong {
  color: #5e5c5c;
}
.register-view .welcome-txt h2 {
  position: relative !important;
  margin-top: 0px !important;
  font-size: 18px;
  color: #5e5c5c;
  margin: 0 50px;
}
.register-view .welcome-txt h2.three {
  background: -moz-linear-gradient(#ffffff 0%, #ffffff 49%, #bbbbbb 50%, #a5a5a5 51%, #ffffff 52%, #ffffff 100%) !important;
  background: -ms-linear-gradient(#ffffff 0%, #ffffff 49%, #bbbbbb 50%, #a5a5a5 51%, #ffffff 52%, #ffffff 100%) !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(49%, #ffffff), color-stop(50%, #bbbbbb), color-stop(51%, #a5a5a5), color-stop(52%, #ffffff), color-stop(100%, #ffffff)) !important;
  background: -webkit-linear-gradient(#ffffff 0%, #ffffff 49%, #bbbbbb 50%, #a5a5a5 51%, #ffffff 52%, #ffffff 100%) !important;
  background: -o-linear-gradient(#ffffff 0%, #ffffff 49%, #bbbbbb 50%, #a5a5a5 51%, #ffffff 52%, #ffffff 100%) !important;
  background: linear-gradient(#ffffff 0%, #ffffff 49%, #bbbbbb 50%, #a5a5a5 51%, #ffffff 52%, #ffffff 100%) !important;
}
.register-view .welcome-txt h2.three span {
  color: #51b267;
  background: #fff !important;
  padding: 0 20px !important;
  position: relative !important;
  z-index: 5000 !important;
}
.register-view .upload-avatar-row {
  height: 75px !important;
}
.register-view .upload-result-img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  box-shadow: 1px 1px 3px 1px #B1B1B1;
  margin-left: 30px;
}
.register-view .upload-btn,
.register-view .regsiter-btn {
  height: 36px !important;
  line-height: 32px !important;
  min-height: 36px !important;
  font-size: 16px;
  background-color: #96c424 !important;
  margin: 15px 0 !important;
  border-color: #96c424;
}
.register-view [name="register-form"] {
  padding: 0 25px;
}
.register-view .item.item-input {
  margin-top: 10px;
}
.register-view .row {
  padding: 0;
}
.register-view .row .co {
  padding: 0;
}
.register-view .row .col1 {
  padding-right: 10px;
}
.register-view .row .col2 {
  margin-left: 10px;
}
.register-view .thin-border {
  border: 1px solid #5e5c5c;
  padding: 15px 20px 5px;
  margin: 10px 0 25px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 15px;
}
.register-view .thin-border strong {
  color: #51b267;
}
.register-view .select {
  width: 100%;
}
.register-view .select select {
  width: 100%;
  border: 1px solid #dddddd;
  padding: 13px 30px 12px 5px;
  margin: 0 0 0 -1px;
  margin-top: 10px;
}
.register-view .select .arr {
  background: #BDBDBD;
  right: -1px;
  margin-top: 10px;
}
.register-view .select .arr:after {
  border-top: 6px solid #BDBDBD;
}
.register-view .item.back {
  margin-top: 10px;
  border: none !important;
}
.register-view .contact-desc-box {
  margin: 0 auto;
  padding: 10px;
}
/*===================================
 * Restaurant List Page
 *==================================*/
.restlist-view .has-header {
  top: 214px !important;
  position: absolute !important;
  margin-top: 0 !important;
}
.restlist-view .slider {
  height: 140px;
  top: 74px !important;
  border-bottom: 5px solid #51b267;
}
.restlist-view .slider-slide {
  color: #000;
  background-color: #fff;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
.restlist-view .slider-slide .box {
  width: 100%;
  height: 100%;
}
.restlist-view .slider-slide .box .box-content {
  background-size: cover;
}
.restlist-view .slider-slide .box .box-content .item-content-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #444444;
  background: -moz-linear-gradient(top, rgba(160, 160, 160, 0.35), rgba(120, 120, 120, 0.55)) !important;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(160, 160, 160, 0.35)), to(rgba(120, 120, 120, 0.55))) !important;
  background: -webkit-linear-gradient(top, rgba(160, 160, 160, 0.35), rgba(120, 120, 120, 0.55)) !important;
  background: -o-linear-gradient(top, rgba(160, 160, 160, 0.35), rgba(120, 120, 120, 0.55)) !important;
  background: linear-gradient(to bottom, rgba(160, 160, 160, 0.35), rgba(120, 120, 120, 0.55)) !important;
}
.restlist-view .slider-slide .box .box-content h2 {
  color: #ffffff;
}
.restlist-view .slider-slide .box .box-content .call-btn {
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  border-radius: 100%;
  right: 5px;
  bottom: 5px;
  position: absolute;
  background-color: #51b267;
}
.restlist-view .slider-slide .box .box-content .call-btn .icon {
  position: relative;
  top: -5px;
  left: -5px;
}
.restlist-view .slider-slide .box .box-content .share-btn {
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  border-radius: 100%;
  right: 40px;
  bottom: 5px;
  position: absolute;
  background-color: #51b267;
}
.restlist-view .slider-slide .box .box-content .share-btn .icon {
  position: relative;
  top: -5px;
  left: 3px;
}
.restlist-view .slider-slide .box .box-content .rest-name {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #ffffff;
  font-size: 24px;
  padding-right: 80px;
}
.restlist-view .slider-slide .box .box-content .rest-logo {
  position: absolute;
  top: 5px;
  right: 5px;
}
.restlist-view .slider-slide .box .box-content .rest-logo img {
  width: 72px;
  height: 48px;
}
.restlist-view .slider-slide .box .box-content .rest-address {
  position: absolute;
  bottom: 10px;
  left: 10px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  word-wrap: break-word;
  line-height: 16px;
  min-height: 20px;
  padding-left: 16px;
  padding-right: 10px;
  font-size: 12px;
  max-width: 240px;
  text-align: left;
}
.restlist-view .slider-slide .box .box-content .rest-address .icon {
  font-size: 20px;
  position: absolute;
  left: 0;
  top: 0;
  color: #ffffff;
}
.restlist-view .slider-slide .box .box-content .rest-address span {
  color: #ffffff;
}
.restlist-view .gallery {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 2.5px;
}
.restlist-view .gallery .box {
  width: 100%;
  height: 100%;
}
.restlist-view .gallery .box .box-content {
  background-size: cover;
}
.restlist-view .gallery .box .box-content .item-content-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #444;
  background: -moz-linear-gradient(top, rgba(160, 160, 160, 0.35), rgba(120, 120, 120, 0.55)) !important;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(160, 160, 160, 0.35)), to(rgba(120, 120, 120, 0.55))) !important;
  background: -webkit-linear-gradient(top, rgba(160, 160, 160, 0.35), rgba(120, 120, 120, 0.55)) !important;
  background: -o-linear-gradient(top, rgba(160, 160, 160, 0.35), rgba(120, 120, 120, 0.55)) !important;
  background: linear-gradient(to bottom, rgba(160, 160, 160, 0.35), rgba(120, 120, 120, 0.55)) !important;
}
.restlist-view .gallery .box .box-content .item-content-wrap .image-loader-container {
  text-align: center !important;
}
.restlist-view .gallery .col {
  padding: 2.5px;
}
.restlist-view .gallery img {
  width: 100%;
  height: 100%;
}
.restlist-view .gallery .fav-btn {
  position: absolute;
  text-align: center;
  width: 32px;
  height: 32px;
  top: 5px;
  right: 0;
}
.restlist-view .gallery .fav-btn .icon {
  font-size: 24px;
  color: #ffffff;
}
.restlist-view .gallery .rest-name {
  position: absolute;
  top: 42px;
  left: 5px;
  color: #000000;
  font-size: 18px;
  line-height: 18px;
  height: 20px;
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
  white-space: nowrap;
  width: 80%;
  text-overflow: ellipsis;
}
.restlist-view .gallery .rest-logo {
  position: absolute;
  top: 5px;
  left: 5px;
}
.restlist-view .gallery .rest-logo img {
  width: 48px;
  height: 36px;
}
.restlist-view .gallery .rest-address {
  position: absolute;
  bottom: 10px;
  left: 10px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  word-wrap: break-word;
  line-height: 16px;
  padding-left: 16px;
  padding-right: 10px;
  font-size: 12px;
}
.restlist-view .gallery .rest-address .icon {
  font-size: 20px;
  position: absolute;
  left: 0;
  top: 0;
  color: #000000;
}
.restlist-view .gallery .rest-address span {
  color: #000000;
}
.restlist-view .gallery .rest-timing {
  position: absolute;
  bottom: 6px;
  left: 5px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  word-wrap: break-word;
  line-height: 16px;
  font-size: 12px;
}
.restlist-view .gallery .rest-timing p {
  position: relative;
  margin-bottom: 0px;
  font-size: 10px;
}
.restlist-view .gallery .rest-timing p .icon {
  font-size: 16px;
  position: absolute;
  left: 1px;
  top: 0;
  color: #000000;
}
.restlist-view .gallery .rest-timing p span {
  color: #000000;
  padding-left: 0px;
}
/*============================================
 * Modal View Style
 ============================================*/
.modal-view .bar-header {
  color: #ffffff;
}
.modal-view .bar-header .row {
  padding: 0 !important;
  border-bottom-width: 0 !important;
}
.modal-view .bar-header .row .col {
  padding: 0 !important;
  line-height: 32px;
}
.modal-view .bar-header h3 {
  color: #ffffff;
}
.modal-view .bar-header .d1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  word-wrap: break-word;
}
.modal-view .bar-header .d1 i {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: #ffffff;
  position: relative;
  margin-right: 8px;
}
.modal-view .bar-header .d1 i em {
  position: absolute;
  top: 5px;
  left: 5px;
  text-align: center;
  width: 10px;
  height: 10px;
  background-color: #51b267;
  border-radius: 50%;
}
.modal-view .bar-header .d1 .Veg em {
  background-color: #51b267;
}
.modal-view .bar-header .d1 .NonVeg em {
  background-color: green;
}
.modal-view .bar-header .d2 {
  padding: 10px;
}
.modal-view .button.circle-btn {
  border-radius: 100%;
  background-color: #ffffff;
  width: 36px;
  height: 36px;
  border: 2px solid #51b267;
  top: 20px;
}
.modal-view .button.circle-btn .icon {
  font-weight: bold;
  margin-left: -2px;
  color: #51b267;
  font-size: 24px;
}
.modal-view .button.circle-btn .icon:before {
  line-height: 30px !important;
}
.modal-view .circle-btn.button-positive {
  right: 90px;
}
.modal-view .order-amount {
  position: absolute;
  width: 36px;
  top: 20px;
  right: 54px;
  text-align: center;
}
.modal-view .number-panel {
  position: relative;
  margin: 0 auto;
  width: 180px;
}
.modal-view .number-panel .circle-btn {
  top: 0;
  border-radius: 100%;
  background-color: #0f3876;
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  border: none;
  display: inline-block;
}
.modal-view .number-panel .circle-btn .icon {
  color: #CACACA !important;
  margin-left: 0px;
  position: relative;
  top: 0;
  left: -3px;
}
.modal-view .number-panel .item-input {
  width: 50px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  padding: 3px 0 !important;
  border-radius: 4px;
}
.modal-view .number-panel .item-input input {
  padding: 0 !important;
  text-align: center;
  height: 16px;
}
.modal-view .row {
  border-bottom: 1px solid #b3b3b3;
}
.modal-view .row + .row {
  margin-top: 0;
}
.modal-view .item-divider {
  background-color: #51b267;
}
.modal-view .item-divider h2 {
  color: #ffffff;
}
.modal-view .cart-option {
  padding: 0;
  height: 52px;
}
.modal-view .cart-option .col {
  padding: 0;
}
.modal-view .cart-option .cart-option-chk {
  margin: 0;
  border: none;
  padding: 0 0 0 50px;
  background: none;
  height: 52px;
}
.modal-view .cart-option .cart-option-chk .checkbox {
  height: 52px;
  padding: 0;
}
.modal-view .cart-option .cart-option-chk i.checkbox-icon {
  top: 8px;
}
.modal-view .cart-option .cart-option-chk .item-content span {
  line-height: 30px;
}
.modal-view .cart-option .cart-option-chk .item-content em {
  display: block;
  color: #B3B3B3;
  line-height: 20px;
}
.modal-view .cart-option .cart-option-price {
  padding: 15px;
}
/*=============================================
 * Offline View
 *=============================================*/
.offline-view {
  width: 100%;
}
.offline-view .offline-img {
  width: 120px;
  height: auto;
}
.offline-view .spinner svg {
  width: 28px;
  height: 28px;
  stroke: #444;
  fill: #444;
}
/*==============================================
 *  Intro page
===============================================*/
.intro-view {
  background-color: #51b267;
  padding: 10px;
  padding-bottom: 100px;
}
.intro-view .slider {
  height: 100%;
}
.intro-view .slider-slide {
  padding-top: 80px;
  color: #ffffff;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
.intro-view .slider-slide h3,
.intro-view .slider-slide h5 {
  color: #ffffff !important;
}
.intro-view .button {
  background-color: #1182c2;
  color: #ffffff;
  width: 200px;
  margin: 0 auto;
}
/*==============================================
 *  Phone Validation page
===============================================*/
.verify-view {
  background-color: #51b267;
}
.verify-view h2,
.verify-view h3,
.verify-view h5,
.verify-view p {
  color: #ffffff;
}
.verify-view .card,
.verify-view .list-inset {
  border-radius: 8px;
}
/*==============================================
 *  Recovery Password page
===============================================*/
.recovery-view {
  background-color: #51b267;
}
.recovery-view h2,
.recovery-view h3,
.recovery-view h5,
.recovery-view p {
  color: #ffffff;
}
.recovery-view .card,
.recovery-view .list-inset {
  border-radius: 8px;
}

/*=============================================
 * About us page
 *=============================================*/

 .aboutus-view {
   background-color: #ededed;

 }
 .aboutus-view .back-button-img{
   margin-left: 5px;
   margin-top: 5px;
   width: 20px; 
   height: 20px;
 }
 .aboutus-view .image {

  padding: 0px 15px;
  text-align: center;

}
  .aboutus-view .image .img-mark{
   margin-top: 40px;
   
   width: 60px;

 }
 .aboutus-view .image .img-logo{
   margin-top: 0px;
   width: 140px;
 }


 
 .aboutus-view .text {

  padding: 0px 20px;
  margin-top: 10px;

  font-size: 16px;
  line-height: 20px;

}
 


/*===================================
 * Research Page
 *==================================*/
 .area{
   height: 100px;
 }
 
 .research-view{

   background-color: #ededed;
}

.research-view .title-image{
  width: 220px;
  height: 35px;
}

.research-view .text{
  width: 100%;
  height: 1px;
}
 .research-view .back-button-img{
   margin-left: 5px;
   margin-top: 5px;
   width: 20px; 
   height: 20px;
 }


.research-view .welcome-txt {
  margin-top: 20px;
  text-align: center;
  padding: 10px 20px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #a1a1a1;
}




.research-view .research-btn {
  height: 40px !important;
  line-height: 32px !important;
  min-height: 36px !important;
  font-size: 16px;
  background-color: #96c424 !important;
  margin: 15px 0 !important;
  border-color: #96c424;
}
.research-view [name="register-form"] {
  padding: 0 50px;
}
.research-view .item.item-input {
  margin-top: 10px;
}



.research-view .select {
  width: 100%;
}
.research-view .select select {
  width: 100%;
  border: 1px solid #dddddd;
  padding: 13px 30px 12px 5px;
  margin: 0 0 0 -1px;
  margin-top: 10px;
}
.research-view .select .arr {
  background: #BDBDBD;
  right: -1px;
  margin-top: 10px;
}
.research-view .select .arr:after {
  border-top: 6px solid #BDBDBD;
}
.research-view .item.back {
  margin-top: 10px;
  border: none !important;
}

.research-view .plus_button{
  height: 48px !important;
  width: 51px;
  margin-top: 11px;
  margin-left: -5px;
  border: 1px solid #51b267;
  padding: 0;
 
}
.research-view .row {
  padding:0;
  text-align: center;
}

.comment-button{
  color:#8bf9a4;
}
.research-view .labelList{
    text-align: center;
    height: 50px;
    font-size: 18px;
    padding-top: 12px;
    padding-bottom: 20px;
    border: #dddddd solid 1px;
    margin-top: -3px;
    background-color: #ffffff;
}

/*=============================================
 * Search Result View
 *=============================================*/
.searchresult-view .item-content {
  color: white !important;
  height: 245px;
  background-position: center right;
  padding: 0px;
}

 .searchresult-view .overlay_theme {
    background: url(../img/label_display.png);
    font-size: 15px;
    color: #ffffff;
    
    opacity: 0.8;
    margin-top: -84px;


    font-weight: 400;
    width: 100%;
    height:80px;

    word-wrap: normal;  
}

.searchresult-view .bar-subheader {
  background-color: #ededed !important;
  background-size: 100% 0 !important;
  border-color: #d1d3d6 !important;
  height: 100px;
  border-color: #000000;
  border-top-style: solid;
  border-top-width: 2px;
  padding-top: 40px;
  padding-left: 8%;
  padding-right: 8%;
}
.searchresult-view .bar-subheader .title {
  padding-top: 10px;
  color: #a1a1a1;
  font-size: 16px;
  height: 40px;
}
.searchresult-view .bar-subheader .item-input {
  margin-top: 10px;
  color: #000;
  font-size: 16px;
  height: 41px;
}
.searchresult-view .bar-subheader .button {
  margin-top: 10px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  border-radius: 0;
  background-color:#51b267;
  height: 40px; 

}
.searchresult-view .item-input-wrapper {
  border-color:#5e5c5c;
  border-left-width: 1px;
  border-style: solid;
  border-width: 1px;
  line-height: 30px;  
}


.searchresult-view .item-content .order-check{
  margin-top: 15px;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  float: left;
}




/*=============================================
 * Search Map View
 *=============================================*/
 .searchmap-view .item-content {
  color: white !important;
  height: 245px;
  background-position: center right;
  padding: 0px;
}
.searchmap-view .item-img{
  width: 100%;
  height: 240px; 
  
}
 .searchmap-view .overlay_theme {
    background: url(../img/label_display.png);
    font-size: 15px;
    color: #ffffff;   
    opacity: 0.9;
    margin-top: -84px;
    font-weight: 400;
    width: 100%;
    height:80px;
    word-wrap: normal;   
}

.searchmap-view .bar-subheader {
  background-color: #ededed !important;
  background-size: 100% 0 !important;
  border-color: #d1d3d6 !important;
  height: 100px;
  border-color: #000000;
  border-top-style: solid;
  border-top-width: 2px;
  padding-top: 40px;
  padding-left: 8%;
  padding-right: 8%;
}
.searchmap-view .bar-subheader .title {
  padding-top: 10px;
  color: #999;
  font-size: 16px;
  height: 40px;
}
.searchmap-view .bar-subheader .item-input {
  margin-top: 10px;
  color: #000;
  font-size: 16px;
  height: 40px;
}
.searchmap-view .bar-subheader .button {
  margin-top: 10px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  border-radius: 0;
  background-color:#51b267;
  height: 40px; 

}
.searchmap-view .item-input-wrapper {
  border-color:#5e5c5c;
  border-left-width: 1px;
  border-style: solid;
  border-width: 1px;
  line-height: 30px;  
}

.searchmap-view .item-content .business-name {
 margin-bottom: 4px;
 font-size: 20px;

  margin-top: 20px;
  margin-left: 0px;
  font-weight: 400;
  width: 100%;
  color: white;
}
.searchmap-view .item-content .order-check{
  margin-top: 15px;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  float: left;
}
.searchmap-view .item-content .label-name {
  position: absolute;
  margin-top: 40px;
  margin-left: 0px;
  font-size: 12px;
}
.searchmap-view .item-content .map-icon{
  float: left;
  margin-top: 30px;
  width: 14px;
  height: 17px; 
  margin-left: -20px;
}
.searchmap-view .item-content .country-name{
  float: left;
  margin-top: 28px;
  font-size: 13px;
  
}

map {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}

/*=============================================
 * Comment View
 *=============================================*/
.comment-view .slide-container{
  height: 250px;
  background-color: #EDEDED;
  border-bottom-color: #b3b3b3;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.comment-view .item-img{
  width: 100%;
  height: 185px; 
  
}
.comment-view .private-label{
  
  height: 40px;
  margin-left: -5px;
  margin-top: -10px; 
  
}

.favorit-mark1{
    height: 30px;
    width: 30px;

    
}
 .comment-view .overlay_theme {
    background: url(../img/label_display.png);
    font-size: 15px;
    color: #ffffff;   
    opacity: 0.9;
    margin-top: -74px;
    font-weight: 400;
    width: 100%;
    height:70px;
    word-wrap: normal;   
}
.comment-view .overlay_theme .row{
  padding-top:30px; 
}
.comment-view .type-name{
    font-size: 14px;
    margin-left: -4px;
    font-weight: 600;
}
.comment-view .label-name{
    font-size: 14px;
    margin-left: 0px;
    margin-top: -45px;
}
.comment-view .favorit-mark{
  height: 20px;
  float: right;
  width: 20px;
  margin-top: 0px !important;
  
}

.comment-view .circle-mark_green{
    height: 56px;
    width: 56px;
    background-color: #8fba23;
    opacity: 1;
    border-radius: 28px;

}
.comment-view .circle-mark_orange{
    height: 56px;
    width: 56px;
    background-color: #FFB830;
    opacity: 1;
    border-radius: 28px;

}
.comment-view .circle-mark_red{
    height: 56px;
    width: 56px;
    background-color: #ff4444;
    opacity: 1;
    border-radius: 28px;

}
.project-number1{
  float:left;
  padding-top:20px;
  margin-left: 5px;
  margin-top: -4px;
  color: #ffffff;
  font-size: 18px;
}
.rate-number1{
  float:left;
  padding-top:20px;
  margin-left: 0px;
  margin-top: -4px;
  color: #ffffff;
  font-size: 18px;
  
  
}
.total1{
  float:left;
  padding-top:22px;
  margin-top: -3px;
  margin-left: 0px;
  color: #000000; 
  font-size: 10px;
  font-weight: 500;
  
  
}
.comment-view .comment-rate{
  float:left;
  padding-top:20px;
  margin-left: 15px;
  margin-top: -4px;
  color: #ffffff;
  font-size: 18px;
}
.comment-view .total1{
  float:left;
  padding-top:22px;
  margin-top: -3px;
  margin-left: 0px;
  color: #000000; 
  font-size: 12px;
  font-weight: 500;
  
  
}
.comment-view .comment-number{
  float:left;
  padding-top:20px;
  padding-left: 7%;
  text-align: right;

}
.comment-view .comment{
  float:left;
  padding-top:20px;
  width: 25%;
  text-align: center;
  
}
.comment-view .divider{
  float:left;
  padding-top:20px;
  padding-left: 5px;
  
  text-align: center;
  
}
.comment-view .comment-click{
  float:left;
  padding-top:20px;
  text-align: center;
  width: 40%;
  font-weight: 700;
  
}

.comment-view .text-box{

  color: #000000;
  background-color: #ededed;
  margin: 20px 2% auto;
}
.comment-view .text-box .title{
 
  color: #51b267;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}
.comment-view .text-box .title1{
  width: 100%;
  color: #51b267;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}
 .comment-view .text-box .text {
     margin-top: 20px;
  font-size: 16px;
  line-height: 16px;

}
 .comment-view .text-box .label-votes {
     margin-top: 30px;
  font-size: 16px;
  line-height: 16px;
  padding-left: 0px;

}
.comment-view .vote-name{
    color: #93b925;
    font-size: 20px;
    margin-bottom: 12px;
    float: left;
}
.comment-view .vote-name_orange{
    color: #FFB830;
    font-size: 20px;
    margin-bottom: 12px;
    float: left;
}
.comment-view .vote-name_red{
    color: #ff4444;
    font-size: 20px;
    margin-bottom: 12px;
    float: left;
}
.comment-view .vote-num{
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    margin-left: 5px;
    margin-top: 0px;
}
.comment-view .t_num{
    color: #8fba23;
    
}
.comment-view .r_num_green{
    
    margin-top: -3px;
    font-size: 26px;
    color: #8fba23;
    font-weight: 600;
    float: left;
    
}
.comment-view .r_num_orange{

    margin-top: -3px;
    font-size: 26px;
    color: #FFB830;
    font-weight: 600;
    float: left;
    
}
.comment-view .r_num_red{
  
    margin-top: -3px;
    font-size: 26px;
    color: #ff4444;
    font-weight: 600;
    float: left;
    
}
.comment-view .share-box{
    float: left;
    width: 100%;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    
}

.comment-view .share-label{
    float: left;
    margin-top:30px;
    
    padding-bottom: 30px;
    font-size: 26px;
    font-weight: 600;
    margin-left: 5%;
    
}
.comment-view .label_green{

  padding-left: 5px;
  margin-top: -5px;
  color: #8fba23;
  font-size: 12px;
  float: left;
}
.comment-view .label_orange{

  padding-left: 5px;
  margin-top: -5px;
  color: #FFB830;
  font-size: 12px;
  float: left;
}
.comment-view .label_red{

  padding-left: 5px;
  margin-top: -5px;
  color: #ff4444;
  font-size: 12px;
  float: left;
}
/*=============================================
 * Leave Comment View
 *=============================================*/
 .leavecomment-view .bar-subheader{
   border-top-color: #b3b3b3;
   border-top-style: solid;
   border-top-width: 2px;
   height: 120px;
   background-color: #ededed;
   border-bottom-color: #b3b3b3;
   border-bottom-style: solid;
   border-bottom-width: 2px;
   overflow-y: auto;
 }
 .leavecomment-view .text-box{
   padding: 10px 18px 18px;
   font-size: 14px;
 }
 .leavecomment-view .button-container{
     margin-top: 110px;
   margin-left: 10%;
   margin-right: 10%;
   align-content: center;
 }
 .leavecomment-view .button-container .button{
   background-color: #96c424;
   margin-top: 50px;
   border-color: #96c424;
 }
 .leavecomment-view .button-container .labels{
   text-align: center;
   color: #5e5c5c;
   margin-top: 20px;

 }
 .leavecomment-view .comment-container{
   margin-top: 30px;
 }
 .leavecomment-view .comment-container .text-box{
   background-color: #ffffff;
   margin-left: 7%;
   margin-right: 7%;
   border-width: 1px;
   border-color: #999;
   border-style: solid;
   font-size: 12px;
   padding-bottom: 1px;
   padding-top: 0px;
   padding-left: 0px;
   padding-right: 0px;
  
 }
 .leavecomment-view .photo-container{
   margin-left: -20px;
   margin-top: -17px;
   float: left;

 
 }
 .leavecomment-view .photo-container .photo-circle1{
  margin: 0 auto;
  width: 51px;
  height: 51px;
  background-color: #ededed;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius:100% ;
  border: 1px solid #51b267;
 }
  .leavecomment-view .photo-container .photo-circle2{
     margin: 2px;
  width: 45px;
  height: 45px;
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius:100% ;
  border: 1px solid #ffffff;
 }
 .leavecomment-view .photo-container .img1{
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
 .leavecomment-view .person-name{
   margin-left: 40px;
}
 .leavecomment-view .person-name .date{
   margin-top: -4px;
   font-size: 11px;
   color: #5e5c5c;
   
}


 .leavecomment-view .comment-container .text-box .circle-mark{
    margin-top: -3px;
    margin-left: 7px;
    width: 50px;
    height: 50px;
    

 }
 .leavecomment-view .comment-container .text-box .col{
   margin-top: 0px;
   padding-top: 0px;
   
 }
.leavecomment-view .comment-container .text-box .project-number{
  float:left;
  margin-top: -60px;
  margin-left: 13px;
  color: #ffffff;
  font-size: 18px;
}
.leavecomment-view .comment-container .text-box  .rate-number{
  float:left;
  margin-top: -60px;
  margin-left: 23px;
  color: #ffffff;
  font-size: 18px;
  
  
}
.leavecomment-view .comment-container .text-box  .total{
  float:left;
  margin-top: -58px;
  margin-left: 38px;  

  color: #000000; 
  font-size: 10px;
  font-weight: 500; 
}
.leavecomment-view .comment-container .text-box .text{
  margin-top: -8px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
}

.leavecomment-view .comment-container .text-box .title{
  margin-top: -8px;
  padding-left: 5px;
  padding-right: 5px;
  color: #000000;
  width: 100%;
  text-align: left;
}
.leavecomment-view .comment-container .text-box .vote-plus{
    text-align: right;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
  
}
.leavecomment-view .comment-container .profile-pic {
  margin: 0 auto;
  margin-top: 2px;
  width: 137px;
  height: 137px;
  background-color: #ededed;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
  border: 4px solid #ffffff;
  margin-bottom: 10px;
  position: relative;
 
}
.profile-view .comment-container .profile-pic img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

/*===================================
 * My Install View
 *==================================*/

 .myinstall-view{

   background-color: #ededed;
}
.myinstall-view .bar-subheader{
  background-color: #ededed;
  border-top-width: 1px;
  border-top-color: #b3b3b3;
  border-top-style: solid;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 0px;
  height: 70px;
}

/*.resort-view .button-assertive{
  background-color: #51b267;
  border-color: #51b267;
  font-size: 18px;
  height: 40px;
}*/
/*=====
======*/
.myinstall-view .ion-content{
  margin-top: 100px;
}
.myinstall-view .item-content {
  color: white !important;
  height: 245px;
  background-position: center right;

  padding: 0px;
}
.myinstall-view .item-img{
  width: 100%;
  height: 240px; 
  
}
 .myinstall-view .overlay_theme {
    background: url(../img/label_display.png);
    font-size: 15px;
    color: #ffffff;   
    opacity: 0.9;
    margin-top: -84px;
    font-weight: 400;
    width: 100%;
    height:80px;
    word-wrap: normal;   
}
.myinstall-view .item-content .business-name {
 margin-bottom: 4px;
 font-size: 20px;
width: 100%;
  margin-top: 20px;
  margin-left: 0px;
  font-weight: 400;
  color: white;
}
.myinstall-view .item-content .order-check{
  margin-top: 15px;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  float: left;
}
.myinstall-view .item-content .label-name {
  position: absolute;
  margin-top: 40px;
  margin-left: 0px;
  font-size: 12px;
}
.myinstall-view .item-content .map-icon{
  float: left;
  margin-top: 30px;
  width: 14px;
  height: 17px; 
 
  margin-left: -20px;
}
.myinstall-view .item-content .country-name{
  float: left;
  margin-top: 28px;
  font-size: 13px;
  
}

/*========
========*/
.button.button-assertive.activated{
  background-color: #89c567;
  border-color: #89ac27;
}

/*=============================================
 * My Instituition View
 *=============================================*/
.myinst-view .image_container{
    width: 100%;
    height: 245px;
    border-bottom: 1px solid #a1a1a1;
  

}
.myinst-view .scroll{
    height: 0%;
    -webkit-overflow-scrolling: touch;
}
.myinst-view .item-img{
  width: 100%;
  height: 185px; 
  background-color: #b3b3b3;
  text-align: center;

  
}
.myinst-view .select {
  width: 100%;
}
.myinst-view .select select {
  width: 100%;
  border: 1px solid #dddddd;
  padding: 13px 30px 12px 5px;
  margin: 0 0 0 -1px;
  margin-top: 10px;
}
.myinst-view .select .arr {
  background: #BDBDBD;
  right: -1px;
  margin-top: 10px;
}
.myinst-view .select .arr:after {
  border-top: 6px solid #BDBDBD;
}


.myinst-view .favorit-mark{
  height: 20px;
  width: 20px;
}
.myinst-view .circle-mark{
  margin-top: 5px;
  width: 50px;
  height: 50px;
}
.myinst-view .project-number{
  float:left;
  padding-top:1px;
  margin-left: -45px;
  color: #ffffff;
  font-size: 16px;
}
.myinst-view .rate-number{
  float:left;
  padding-top:3px;
  margin-left: -35px;
  color: #ffffff;
  font-size: 16px;
  
  
}
.myinst-view .total{
  float:left;
  padding-top:39px;
  margin-left: -20px;
  color: #000000; 
  font-size: 10px;
  font-weight: 500;
  
  
}
.myinst-view .comment-number{
  float:left;
  padding-top:20px;
  margin-left: 4%;
  text-align: right;

}
.myinst-view .comment{
  float:left;
  padding-top:20px;
  width: 30%;
  text-align: center;
  
}
.myinst-view .divider{
  float:left;
  padding-top:20px;
  padding-left: 5px;
  
  text-align: center;
  
}
.myinst-view .comment-click{
  float:left;
  padding-top:20px;
  text-align: center;
  width: 40%;
  font-weight: 700;
  
}
.myinst-view .edit-container {
  padding: 0 10%;
  margin-top: 0px;
}
.myinst-view .item.item-input {
  margin-top: 10px;
}


/*========
========*/
/*===================================
 * My Comment View
 *==================================*/

 .mycomment-view{

   background-color: #ededed;
}


/*=====
======*/

.mycomment-view .ion-content{
  margin-top: 0px;
  
}
.mycomment-view .item-content {

  height:300px;
  background-position: center right;
  background-color: #ededed;

  padding: 0px;
}
.mycomment-view .item-img{

  width: 100%;
  height: 240px; 
  margin-top: -20px;
  opacity: 0.9;
  
}
 .mycomment-view .overlay_theme {
    background: url(../img/label_display.png);
    font-size: 15px;
 
    opacity: 0.9;
    margin-top: -84px;
    font-weight: 400;
    width: 100%;
    height:80px;
    word-wrap: normal;   
}
.mycomment-view .item-content .business-name {

 margin-bottom: 4px;
 font-size: 20px;
width: 100%;
  margin-top: 35px;
  margin-left: 3px;
  font-weight: 600;
  color: white;


}
.mycomment-view .item-content .order-check{
  margin-top: 35px;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  float: left;
}
.mycomment-view .item-content .type-name{
    position: absolute;
    margin-top: -8px;
    font-size: 13px;
    margin-left: -2px;
    font-weight: 600;
}
.mycomment-view .item-content .label-name {
  float: left;
  margin-top: -9px;
  margin-left: 2px;
  font-size: 13px;
  color: #89ac27;
  font-weight: 600;
  padding-right: 3px;
}
.mycomment-view .item-content .map-icon{
  float: right;
  margin-top: -4px;
  margin-left: 0px;
  width: 18px;
  height: 17px; 
  padding-right: 3px; 
}
.mycomment-view .item-content .country-name{

  float: right;
  margin-top: -8px;
  margin-right: -44px;
  padding-left: 0px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  color: #d8eba8;
  
}



/*========
========*/

 .mycomment-view .comment-container{
   margin-top: -200px;
   float: left;
   width: 86%;
 }
 .mycomment-view .comment-container .text-box{
   background-color: #ffffff;
   margin-left: 7%;
   margin-right: 7%;
   border-width: 1px;
   border-color: #999;
   border-style: solid;
   font-size: 12px;
   padding-bottom: 1px;
   padding-top: 0px;
   padding-left: 0px;
   padding-right: 0px;
   height: 180px;
   width: 100%;
 
  
 }
 .mycomment-view .photo-container{
   margin-left: -20px;
   margin-top: -17px;
   float: left;

 
 }
 .mycomment-view .photo-container .photo-circle1{
  margin: 0 auto;
  width: 51px;
  height: 51px;
  background-color: #ededed;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius:100% ;
  border: 1px solid #51b267;
 }
  .mycomment-view .photo-container .photo-circle2{
     margin: 2px;
  width: 45px;
  height: 45px;
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius:100% ;
  border: 1px solid #ffffff;
 }
 .mycomment-view .photo-container .img1{
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
 .mycomment-view .person-name{
   margin-left: 40px;
}
 .mycomment-view .person-name .name{
   margin-top: 0px;
   font-size: 14px;
   color: #000000;
   font-weight: 600;
   
   
}
 .mycomment-view .person-name .date{
   margin-top: -4px;
   font-size: 11px;
   color: #5e5c5c;
   
}


 .mycomment-view .comment-container .text-box .circle-mark{
    margin-top: -3px;
    margin-left: 7px;
    width: 50px;
    height: 50px;

 }
 .mycomment-view .comment-container .text-box .col{
   margin-top: 0px;
   padding-top: 0px;
   
 }
.mycomment-view .comment-container .text-box .project-number{
  float:left;
  margin-top: 15px;
  margin-left:7px;
  color: #ffffff;
  font-size: 16px;
}
.mycomment-view .comment-container .text-box  .rate-number{
  float:left;
  margin-top: 15px;
  margin-left: 2px;
  color: #ffffff;
  font-size: 16px;
  
  
}
.mycomment-view .comment-container .text-box  .total{
  float:left;
  margin-top: 18px;
  margin-left: 2px;  

  color: #000000; 
  font-size: 10px;
  font-weight: 500; 
}
.mycomment-view .comment-container .text-box .title{
  margin-top: -8px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 600;
  font-size: 14px;;

}
.mycomment-view .comment-container .text-box .text{
  margin-top: -8px;
  padding-left: 5px;
  padding-right: 5px;


}

.mycomment-view .comment-container .text-box .vote{

  padding-left: 80%;
  padding-right: 5px;
  font-weight: 700;
  font-size: 18px;

  
  

}
.mycomment-view .comment-container .profile-pic {
  margin: 0 auto;
  margin-top: 2px;
  width: 137px;
  height: 137px;
  background-color: #ededed;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
  border: 4px solid #ffffff;
  margin-bottom: 10px;
  position: relative;
 
}
.mycomment-view .comment-container .profile-pic img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
/*========
========*/
/*===================================
 * Add Opinion Page
 *==================================*/

 
.addopinion-view{

   background-color: #ededed;
}
.addopinion-view .plus_button{
  height: 48px !important;
  width: 51px;
  margin-top: 11px;
  margin-left: -5px;
  border: 1px solid #51b267;
  padding: 0;
}

.research-view .title-image{
  width: 220px;
  height: 35px;
}

.research-view .text{
  width: 100%;
  height: 1px;
}
.addopinion-view .private-label{
    width: 40px;
    margin-left: 20px;
}





.addopinion-view .add-btn {
  height: 40px !important;
  line-height: 32px !important;
  min-height: 36px !important;
  font-size: 16px;
  background-color: #96c424 !important;
  margin: 15px 0 !important;
  border-color: #96c424;
}
.addopinion-view [name="register-form"] {
  padding: 0 30px;
}
.addopinion-view .item.item-input {
  margin-top: 10px;
}




.addopinion-view .select select {
  width: 40px;
  border: 1px solid #dddddd;
  padding: 0px;
  padding-top: 8px;
  padding-bottom: 9px;
  margin: 0px;
  margin-right: -6px;
  margin-top: 10px;
  float: right;
}


.addopinion-view .item.back {
  margin-top: 10px;
  border: none !important;
}

.addopinion-view .row {
  padding:0;
  text-align: center;
}


/*===================================
 * Label Comment Page
 *==================================*/

 .labelcomment-view .text-box{
   padding: 10px 18px 18px;
   font-size: 14px;
 }

 .labelcomment-view .labels{
   text-align: center;
   color: #5e5c5c;
   margin-top: 20px;

 }
 .labelcomment-view .comment-container{
   margin-top: 30px;
 }
 .labelcomment-view .comment-container .text-box{
   background-color: #ffffff;
   margin-left: 7%;
   margin-right: 7%;
   border-width: 1px;
   border-color: #999;
   border-style: solid;
   font-size: 12px;
   padding-bottom: 1px;
   padding-top: 0px;
   padding-left: 0px;
   padding-right: 0px;
  
 }
 .labelcomment-view .photo-container{
   margin-left: -20px;
   margin-top: -17px;
   float: left;

 
 }
 .labelcomment-view .photo-container .photo-circle1{
  margin: 0 auto;
  width: 51px;
  height: 51px;
  background-color: #ededed;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius:100% ;
  border: 1px solid #51b267;
 }
  .labelcomment-view .photo-container .photo-circle2{
     margin: 2px;
  width: 45px;
  height: 45px;
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius:100% ;
  border: 1px solid #ffffff;
 }
 .labelcomment-view .photo-container .img1{
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
 .labelcomment-view .person-name{
   margin-left: 40px;
}
 .labelcomment-view .person-name .date{
   margin-top: -4px;
   font-size: 11px;
   color: #5e5c5c;
   
}
 .labelcomment-view .comment-container .text-box .circle-mark_green{
    margin-top: -3px;
    margin-left: 7px;
    width: 50px;
    height: 50px;
    float: right;
    background-color: #8fba23;
    border-radius: 100%;
    

 }
  .labelcomment-view .comment-container .text-box .circle-mark_orange{
    margin-top: -3px;
    margin-left: 7px;
    width: 50px;
    height: 50px;
    float: right;
    background-color: #FFB830;
    border-radius: 100%;
    

 }
  .labelcomment-view .comment-container .text-box .circle-mark_red{
    margin-top: -3px;
    margin-left: 7px;
    width: 50px;
    height: 50px;
    float: right;
    background-color: #ff4444;
    border-radius: 100%;
    

 }


.labelcomment-view .comment-container .text-box  .rate-number{
  float:left;
  margin-top: 15px;
  margin-left: 10px;
  color: #ffffff;
  font-size: 20px;
  
  
}
.labelcomment-view .comment-container .text-box  .total{
  float:left;
  margin-top: 18px;
  margin-left: 5px;  

  color: #000000; 
  font-size: 12px;
  font-weight: 500; 
}
.labelcomment-view .comment-container .text-box .text{
 
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
}
.labelcomment-view .comment-container .text-box .shareText{
  margin-top: 5px;
  margin-left: 10%;;
  padding-right: 5px;
  font-size: 14px;
  font-weight: 700;
}
.labelcomment-view .comment-container .text-box .shareImg{
    width: 30px;
    height: 30px;
    margin-left: 20px;
}
.labelcomment-view .comment-container .text-box .title{
    width: 100%;
  margin-top: -8px;
  padding-left: 5px;
  padding-right: 5px;
  color: #000000;
  font-weight: 700;
  font-size: 14px;
}
